.s-promo-category {

  &__item {
    height: 8rem;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    border-radius: @border-radius;
    overflow: hidden;
    border: 1px solid @border-color;
    padding: 0 2rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: 100% 100%;
    }

    a {
      color: currentColor;
    }

    @media (min-width: @screen-xs) {
      height: 12rem;
    }
  }

  &__item-upperlayer {
    background: linear-gradient(150deg, #eef2f3, cubic-bezier(0.48, 0.3, 0.64, 1), transparent);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2rem;
  }

  &__item-title {
    margin: 0;
    font-size: 1.25rem;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    font-weight: 500;
    max-width: 10rem;
    position: relative;
    line-height: 1.4em;

    &::after {
      position: absolute;
      content: '';
      background-color: @accent-color-main;
      bottom: -1rem;
      left: 0;
      width: 5rem;
      height: 2px;
      border-radius: @border-radius;
    }
  }

  &__additional-info {
    margin-top: 1rem;
    margin-bottom: 4rem;
    text-align: center;

    a {
      color: currentColor;
      position: relative;
      display: inline-block;
      font-weight: 500;
      letter-spacing: 0.025em;

      &::after {
        position: relative;
        content: '';
        width: 8rem;
        height: 1px;
        background-color: currentColor;
        left: 0;
        top: -4px;
        margin-left: 1rem;
        display: inline-block;
      }

      &::before {
        position: absolute;
        content: '';
        background-color: transparent;
        border: 1px solid currentColor;
        border-left: 0;
        border-bottom: 0;
        display: block;
        top: 11px;
        transform: rotate3d(0,0,1,45deg);
        right: 0;
        width: 7px;
        height: 7px;
      }
    }

    @media (min-width: @screen-sm) {
      text-align: right;
      margin-bottom: 1rem;
    }
  }
}