mixin promo-category()

  .s-promo-category
    .s-promo-category__inner
      .row
        .col-md-6
          .s-promo-category__item: a(href='')
            img(src='img/promo-slider-img-example.png', alt='')
            .s-promo-category__item-upperlayer
              h4.s-promo-category__item-title Анализаторы спектра
        .col-md-6
          .s-promo-category__item: a(href='')
            img(src='img/promo-slider-img-example.png', alt='')
            .s-promo-category__item-upperlayer
              h4.s-promo-category__item-title Генераторы сигналов
      .row
        .col-md-7
          .s-promo-category__item: a(href='')
            img(src='img/promo-slider-img-example.png', alt='')
            .s-promo-category__item-upperlayer
              h4.s-promo-category__item-title Мультиметры
        .col-md-5
          .s-promo-category__item: a(href='')
            img(src='img/promo-slider-img-example.png', alt='')
            .s-promo-category__item-upperlayer
              h4.s-promo-category__item-title Источники питания

      .row
        .col-md-5
          .s-promo-category__item: a(href='')
            img(src='img/promo-slider-img-example.png', alt='')
            .s-promo-category__item-upperlayer
              h4.s-promo-category__item-title Мультиметры
        .col-md-7
          .s-promo-category__item: a(href='')
            img(src='img/promo-slider-img-example.png', alt='')
            .s-promo-category__item-upperlayer
              h4.s-promo-category__item-title Источники питания

      .row
        .col-xs-12
          .s-promo-category__additional-info
            a(href='/') Все категории