.s-modal {

  &__title {
    margin-bottom: 0;

    @media (min-width: @screen-sm) {
      margin-bottom: 0;
    }
  }

  .modal-header {
    padding-top: 2rem;
  }

  .close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 2rem;
    cursor: pointer;
  }
}