mixin modal()

  #myModal.s-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#myModalLabel.s-main-subtitle.s-modal__title.modal-title Товар под заказ
        .modal-body
          +form()
            +field-text({
              title: 'Ваше имя',
              attrs: {
                type: 'text',
                placeholder: ''
              }
            })
            +field-text({
              title: 'Телефон',
              attrs: {
                type: 'tel',
                placeholder: ''
              }
            })
            +field-text({
              title: 'E-mail',
              attrs: {
                type: 'email',
                placeholder: ''
              }
            })
            +field-text({
              title: 'Название товара',
              attrs: {
                type: 'text',
                placeholder: ''
              }
            })
            +field-textarea({
              title: 'Текст сообщения',
              attrs: {
                placeholder: '',
                rows: '5'
              }
            })
            +field-checkbox([
              {
                title: 'Я согласен на обработку персональных данных',
                attrs: {
                  name: 'check0',
                }
              },
            ])
        .modal-footer
          button.s-btn(type='button') Отправить
