mixin subscription()

  article.s-subscription.s-section
    header.s-subscription__header
      h4.s-subscription__title Будьте всегда в курсе
      .s-subscription__desc Узнавайте о скидках и акциях первым
    form#sendsay_form.s-subscription__form(
      name='form_385',
      action='https://sendsay.ru/form/x_1497435644237287/3',
      method='post',
      onsubmit="javascript:if(typeof sendsay_check_form === 'function'){ return sendsay_check_form(this); }",
      accept-charset='utf-8')

      #_member_email.s-subscription__form-group.subpro_clear.sendsayFieldItem
        .subpro_right
          input.subpro_input.pro_mustbe.form-control(placeholder='E-mail',
          data-type='email',
          name='_member_email',
          value='',
          size='',
          required='',
          type='email')
          #_error(style='display:none;')

      #sendsayFormSubmitBox.s-subscription__form-group.subpro_clear
        button.subpro_btn(name='bt_save',
        type='submit')

