.s-subscription {
  max-width: 400px;

  &__header {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
  }

  &__title {
    font-size: 0.875rem;
    color: @accent-color-main;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 1rem;
    position: relative;
    padding-left: 1.75rem;

    &::before {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      background-image: data-uri('image/svg+xml;charset=UTF-8', '../blocks/subscription/img/subscription-title-icon.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      width: 14px;
      height: 14px;
    }
  }

  &__desc {
    font-size: 0.875rem;
    line-height: 1.4em;
  }

  &__form {
    height: 2rem;
    width: 100%;
    overflow: hidden;
    border-radius: @border-radius;
    margin-bottom: 0.5rem;

    &::after {
      content: '';
      display: table;
      clear: both;
    }

    [type='email'] {
      width: 100%;
      border: 0;
      border-right: 0;
      padding: 0.5rem;
      padding-left: 1rem;
      font-size: 0.875rem;
      color: @text-color;
      background-color: @accent-color-secondary--muted;

      &::placeholder {
        color: @text-color;
      }
    }

    [type='submit'] {
      position: relative;
      width: 100%;
      padding: 0;
      background-color: @accent-color-main--muted;
      border: 0;
      height: 2rem;
      cursor: pointer;

      &::before {
        position: absolute;
        content: '';
        top: 50%;
        left: 46%;
        width: 0.6rem;
        height: 0.6rem;
        transform:
          translate3d(-50%,-50%,0)
          rotate3d(0,0,1,45deg);
        border: 2px solid @text-color--lightest;
        border-left: 0;
        border-bottom: 0;
      }
    }
  }

  &__form-group {
    float: left;

    &#_member_email {
      width: 80%;

      .subpro_right {
        width: 100%;
      }
    }

    &#sendsayFormSubmitBox {
      width: 20%;
    }
  }
}