mixin main-nav()

  nav.s-main-nav(role='navigation')
    .row
      .hidden-xs.hidden-sm.col-md-2
        a.s-main-nav__catalog-btn(href="/catalog.html")
          span
          | Каталог
      .col-xs-12.col-md-10
        ul.s-main-nav__list
          li.s-main-nav__item
            a.s-main-nav__link(href='#') О компании
            ul.s-main-nav__sublist
              li: a(href='/list-of-manufacturers.html') Сертификаты
              li: a(href='#') Награды и дипломы
              li: a(href='#') О нас
              li: a(href='#') Благодарности и отзывы
              li: a(href='#') Реквизиты
              li: a(href='#') Контакты
          li.s-main-nav__item
            a.s-main-nav__link(href='#') Производители
          li.s-main-nav__item
            a.s-main-nav__link(href='#') Услуги
            ul.s-main-nav__sublist
              li: a(href='#') Поверка
              li: a(href='#') Ремонт
              li: a(href='#') Тендеры
          li.s-main-nav__item
            a.s-main-nav__link(href='#') Информация
            ul.s-main-nav__sublist
              li: a(href='#') Статьи
              li: a(href='#') Каталоги
              li: a(href='#') Реестр
              li: a(href='#') ПО
              li: a(href='#') Акции
              li: a(href='#') Выставки
          li.s-main-nav__item
            a.s-main-nav__link(href='#') Новости
          li.s-main-nav__item
            a.s-main-nav__link(href='#') Как купить
            ul.s-main-nav__sublist
              li: a(href='#') Условия оплаты
              li: a(href='#') Даставка
              li: a(href='#') Гарантия
              li: a(href='#') Аренда
          li.s-main-nav__item
            a.s-main-nav__link(href='#') Контакты
