.s-main-nav {
  position: relative;
  z-index: 10;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    text-align: center;

    @supports (display: flex) {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
    }

    @media (min-width: @screen-lg) {
      text-align: right;
    }
  }

  &__item {
    position: relative;
    display: inline-block;
    font-size: @font-size--small;
    font-weight: 500;
    color: @accent-color-main;
    letter-spacing: 0.025em;
    margin: 0;
    vertical-align: top;

    @supports (display: flex) {
      flex: auto;
    }

    &:hover > .s-main-nav__sublist,
    &:focus-within > .s-main-nav__sublist,
    & > .s-main-nav__sublist:hover,
    & > .s-main-nav__sublist:focus {
      visibility: visible;
      opacity: 1;
    }

    @media (min-width: @screen-md) {
      font-size: 0.875rem;

      &:not(:last-child) {
        margin-right: 1.25rem;
      }
    }

    @media (min-width: @screen-lg) {
      text-transform: uppercase;
    }
  }

  &__link {
    display: inline-block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: currentColor;
  }

  &__sublist {
    background: @bg-color--default;
    box-shadow: 0 10px 30px 0 rgba(204,214,214,0.5);
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: opacity 0.25s ease 0s;
    left: -1rem;
    min-width: 15rem;
    list-style-type: none;
    margin: 0;
    padding: 1.5rem;
    text-align: left;
    text-transform: none;
    font-size: 0.875rem;

    li {
      margin-bottom: @line-height / 4;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        display: block;
        color: @text-color;
        opacity: 0.6;
        transition: opacity 0.25s ease 0s;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  &__catalog-btn {
    display: none;
    width: 100%;
    max-width: 300px;
    text-align: center;
    line-height: 50px;
    color: currentColor;
    font-weight: 700;
    font-size: 0.875rem;
    position: relative;
    letter-spacing: 0.05em;

    > span {
      width: 30px;
      height: 1px;
      border-radius: @border-radius;
      position: relative;
      background-color: @text-color;
      display: inline-block;
      margin-right: 0.75rem;
      transform: translate3d(0,-0.25rem,0);

      &::before,
      &::after {
        position: absolute;
        content: '';
        background-color: inherit;
        height: 1px;
        border-radius: @border-radius;
        display: block;
        left: 0;
        transition: width 250ms ease-in-out 0.1s;
      }

      &::before {
        width: 100%;
        top: -0.35rem;
      }

      &::after {
        width: 100%;
        top: 0.35rem;
      }
    }

    &:hover,
    &:focus {

      > span {

        &::before {
          width: 80%;
          top: -0.35rem;
        }

        &::after {
          width: 60%;
          top: 0.35rem;
        }
      }
    }

    @media (min-width: @screen-md) {
      display: block;
    }

    @media (min-width: @screen-lg) {
      text-transform: uppercase;
    }
  }
}
