.s-search-result {
  height: 100px;
  font-size: 0.875rem;
  line-height: 1.4em;
  color: @text-color;
  border-bottom: 1px solid @border-color;
  display: inline-block;

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  &__cover {
    float: left;
    height: 100px;
    width: 30%;
    padding: 1rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: 50% 50%;
    }
  }

  &__info {
    float: left;
    width: 70%;
    padding: 1rem;
  }
}