mixin search-result()

  a.s-search-result(href='/')
    .s-search-result__cover
      img(src='img/promo-slider-img-example.png', alt='')
    .s-search-result__info
      | Цифровой мультиметр Tektronix 4050