.s-about-company {
  background-color: @bg-color--base;
  padding-top: 3rem;
  padding-bottom: 3rem;

  &__header {
    margin-bottom: 4rem;

    @media (min-width: @screen-sm) {
      text-align: center;
    }
  }

  &__title {
    font-size: 2.25rem;
    font-weight: 500;
  }

  &__desc {
    font-size: @font-size--accent;
    max-width: 35em;
    margin: 0 auto;
  }

  &__main-info {

    p {
      margin-bottom: 2rem;
    }
  }

  &__advantages-list {
    list-style-type: none;
    margin: 0;

    li {
      position: relative;
      padding-right: 1rem;
      padding-left: 3.75rem;
      max-width: 90%;
      margin-bottom: 3rem;

      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }

      @media (min-width: @screen-sm) {
        max-height: 80%;
      }

      &.repairs {

        &::before {
          width: 38px;
          height: 38px;
          top: -0.125rem;
          left: 0.125rem;
          background-image: data-uri('image/svg+xml;charset=UTF-8', '../blocks/about-company/img/repairs.svg');
        }
      }

      &.card {

        &::before {
          width: 38px;
          height: 38px;
          background-image: data-uri('image/svg+xml;charset=UTF-8', '../blocks/about-company/img/card.svg');
        }
      }

      &.equipment {

        &::before {
          width: 36px;
          height: 36px;
          left: 0.125rem;
          background-image: data-uri('image/svg+xml;charset=UTF-8', '../blocks/about-company/img/equipment.svg');
        }
      }

      &.check {

        &::before {
          width: 40px;
          height: 40px;
          left: 0.125rem;
          background-image: data-uri('image/svg+xml;charset=UTF-8', '../blocks/about-company/img/check.svg');
        }
      }
    }
  }
}