mixin about-company()

  section.s-about-company
    .container
      .s-about-company__header
        h2.s-about-company__title О компании
        p.s-about-company__desc Компания осуществляет деятельность по продаже, поверке и ремонту контрольно-измерительных приборов и оборудования.

      .s-about-company__main-info.row
        .col-xs-12.col-sm-7
          ul.s-about-company__advantages-list
            .row
              li.repairs.col-xs-12.col-sm-6 Ремонт и обслуживание<br> любой сложности
              li.equipment.col-xs-12.col-sm-6 Оснащение/переоснащение предприятий
            .row
              li.check.col-xs-12.col-sm-6 Поверка и калибровка<br> средств измерений
              li.card.col-xs-12.col-sm-6 Продажа приборов и оборудования
        .col-xs-12.col-sm-5
          p Наша компания — первый официальный и авторизированный сервисный центр Anritsu в России, а также официальный дилер AnaPico, Tektronix и HIOKI.
          +btn('Подробнее', 'secondary')(href='/about-company.html')