mixin product-category()

   section.s-product-category
    .s-product-category__inner
      .s-product-category__content
        ul.s-product-category__list.row
          li.col-xs-12.col-md-6: a(href='/product-list.html')
            +product-category-card('img/promo-slider-img-example.png', 'Аудиоанализаторы')
          li.col-xs-12.col-md-6: a(href='/')
            +product-category-card('img/promo-slider-img-example.png', 'Анализаторы спектра')
          li.col-xs-12.col-md-6: a(href='/')
            +product-category-card('img/promo-slider-img-example.png', 'Анализаторы АФУ')
          li.col-xs-12.col-md-6: a(href='/')
            +product-category-card('img/promo-slider-img-example.png', 'Анализаторы модуляции')
          li.col-xs-12.col-md-6: a(href='/')
            +product-category-card('img/promo-slider-img-example.png', 'Анализаторы Wi-Fi, WiMAX, LTE')
          li.col-xs-12.col-md-6: a(href='/')
            +product-category-card('img/promo-slider-img-example.png', 'Тестовые приёмники')
          li.col-xs-12.col-md-6: a(href='/')
            +product-category-card('img/promo-slider-img-example.png', 'Специальное программное обеспечение')


mixin product-category-card(srcImg, title)

  .s-product-category-card
    .s-product-category-card__inner
      .s-product-category-card__cover
        img(src=srcImg, alt='')
      .s-product-category-card__info
        h3.s-product-category-card__title!= title
