.s-product-category {

  &__list {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;

    li {

      @media (min-width: @screen-md) {
        margin-bottom: 30px;
      }
    }
  }
}