@at-root {

  @-ms-viewport {
    width: device-width;
  }
}

.page {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
          font-smoothing: antialiased;
  min-height: 100%;
  min-width: 320px;
  color: @text-color;
  font-family: @font-family;
  font-size: @font-size; // 100% = 16 pixels
  scroll-behavior: smooth;
  line-height: @line-height;

  body {

    &.mobile-menu-is-open {
      overflow: hidden;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex-grow: 1;
  }

  &__footer-wrapper {
    flex-shrink: 0;
  }
}