mixin field-action(mods)

  //- Param:
    mods: ''  {string} - modifiers

  //- Use:
    +field-actions()

  -
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-field-action--' + modsList[i].trim();
      }
    }

  .s-field-action(class=allMods)&attributes(attributes)
    block
