mixin manufacturer(mods)

  //- Param:
    mods {string}     - modifiers

  //- Use:
    +manufacturer()

  -
    // Modifiers
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods.trim() + ' s-manufacturer--' + modsList[i].trim();
      }
    }

  section.s-manufacturer.s-section
    .s-manufacturer__header
      h1.s-manufacturer__title.s-main-subtitle Tektronix
    .s-manufacturer__content
      img(src='img/rohde&schwarz.svg', alt='')
      p Компания Tektronix является безусловным лидером на рынке осциллографов, логических анализаторов и анализаторов протоколов для линий связи. Предлагаемое оборудование имеет различное конструктивное исполнение, начиная с легких портативных приборов и заканчивая лабораторными стендами и измерительными комплексами.
      p Tektronix - всемирно известная американская компания, основанная в 1946 году и являющаяся в настоящее время лидером среди производителей контрольно-измерительной и диагностической аппаратуры. Именно Tektronix первым начал продажу 6–гигагерцового осциллографа (TDS-6604), работающего в режиме реального времени. Штаб-квартира компании и основные производственные мощности располагаются в штате Орегон, США. Всего в компании Tektronix сейчас работают около 7500 человек, компания предлагает свою продукцию более чем в 26 странах. Произведено «Tektronix» - означает: качество, отвечающее лучшим мировым стандартам, уникальные технические и технологические решения. Мы предлагаем прямые поставки всего спектра контрольно-измерительной аппаратуры, включенной Tektronix в европейский прайс-лист - осциллографы и осциллографические пробники, генераторы, логические анализаторы, спектроанализаторы, оборудование для телевидения, систем связи и передачи информации, программное обеспечение, различные аксессуары и пр. Наиболее популярные модели можно приобрести непосредственно со склада нашей организации в Москве. Наши клиенты могут заказать любой прибор, производимый Tektronix и предлагающийся для продажи в Европе.
      hr
      h2.s-manufacturer__subtitle Категории оборудования
      ul
        li: a(href='') Анализаторы спектра
        li: a(href='') Анализаторы модуляции
        li: a(href='') Генераторы функций
        li: a(href='') Осциллографы портативные
        li: a(href='') Осциллографы цифровые
        li: a(href='') Логические анализаторы
        li: a(href='') Мультиметры
        li: a(href='') Анализаторы электроснабжения
        li: a(href='') Лабораторные источники питания
        li: a(href='') Измерители коэффициента битовых ошибок
        li: a(href='') Векторные генераторы
        li: a(href='') Частотомеры