.s-manufacturer {
  padding-top: 2rem;

  @media (min-width: @screen-sm) {
    margin-bottom: 0;
    padding: 3rem;
  }

  &__header,
  &__content {
    max-width: 38rem;
    margin-left: auto;
    margin-right: auto;
  }

  &__subtitle {
    font-size: 1.25rem;
  }

  &__content {

    img {
      border: 1px solid @border-color;
      margin: 0 0 2rem 2rem;
      padding: 2rem;
      float: right;
    }

    ul {

      li {
        list-style-type: none;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          width: 7px;
          height: 7px;
          background: currentColor;
          opacity: 0.4;
          border-radius: 50%;
          left: -22px;
          top: 10px;
        }
      }
    }
  }
}