mixin company-information()

  section.s-company-information.s-section
    .s-company-information__inner
      h2.s-company-information__title.s-main-subtitle О компании
      p Компания «ЛайнТест» специализируется на поставках высококачественного контрольно-измерительного оборудования зарубежных производителей.
      p Мы осуществляем поставки высококачественного контрольно-измерительного оборудования зарубежных производителей. Нашими заказчиками являются телекоммуникационные компании и предприятия всех отраслей промышленности России и стран СНГ, в число которых входят:
      ul
        li ОАО «Ростелеком»,
        li ОАО «Газпром»,
        li Компания «Транстелеком»,
        li ОАО «Центртелеком»,
        li ОАО «МТТ»,
        li Российский Федеральный ядерный центр,
        li ОАО «Сибнефть»,
        li Министерство атомной промышленности,
        li Спецслужбы России,
        li Радиочастотные центры и многое другое.
      p Также наша компания принимает участие в открытых аукционах по поставкам измерительного оборудования по государственным контрактам. Компания ООО «Лайнтест» является надежным поставщиком, что подтверждено на сайте РФ о размещении заказов www.zakupki.gov.ru
      p Осуществляя прямые поставки от производителей и крупнейших мировых дистрибьюторов, мы предлагаем широкий спектр измерительного оборудования различного назначения по умеренным ценам и с минимальным сроком поставки.
      p Мы организуем доставку оборудования во все регионы России, используя курьерскую службу. Сотрудничая с промышленными предприятиями и телекоммуникационными системными интеграторами и имея в составе технический отдел с высококлассными, профессиональными сотрудниками, компания предлагает технические решения, ориентированные на современные возможности и передовые технологии рынка.
      p Наличие собственных финансовых ресурсов, позволяют компании «ЛайнТест» иметь большой ассортимент оборудования на собственном складе в Москве, а также предоставлять постоянным клиентам рассрочку платежа.