.s-company-information {
  padding-top: 2rem;

  @media (min-width: @screen-sm) {
    margin-bottom: 0;
    padding: 3rem;
  }

  &__inner {
    max-width: 39rem;
    margin-left: auto;
    margin-right: auto;

    ul {

      li {
        list-style-type: none;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          width: 7px;
          height: 7px;
          background: currentColor;
          opacity: 0.4;
          border-radius: 50%;
          left: -22px;
          top: 9px;
        }
      }
    }
  }
}