.s-breadcrumb {
  padding: 0;
  list-style: none;
  color: @text-color--lighter;
  padding-bottom: 1rem;
  margin: 0;

  @supports (display: flex) {
    display: flex;
    flex-flow: row wrap;
  }

  @gap:          3em;

  &__item {
    display: inline-block;
    margin-bottom: 0;
    position: relative;
    text-transform: uppercase;
    font-size: @font-size--small;
    vertical-align: middle;
    letter-spacing: 0.025em;
    font-weight: 500;

    &:not(:last-child) {
      margin-right: @gap;

      &::after {
        position: absolute;
        content: '';
        right: -(@gap / 2);
        top: 50%;
        width: 1px;
        height: 60%;
        display: block;
        background-color: @text-color--lighter;
        opacity: 0.5;
        transform:
          translate3d(0,-50%,0)
          rotate3d(0,0,1,15deg);
      }
    }

    span {
      opacity: 0.5;
    }
  }

  &__link {
    position: relative;
    color: currentColor;
    text-decoration: none;

    &::before {
      position: absolute;
      content: '';
      top: -0.5rem;
      right: -0.5rem;
      bottom: -0.5rem;
      left: -0.5rem;
    }

    svg {
      display: inline-block;
      vertical-align: middle;
      margin-right: @gap / 3;
      transform: translate3d(0,-2px,0);
    }

    &:hover,
    &:focus {
      color: @text-color;
      text-decoration: none;
    }
  }
}