mixin breadcrumb(mods)

  //- Param:
    mods {string} - modifiers

  //- Use:
    +breadcrumb()
      +breadcrumb-item('text', '/services')
      +breadcrumb-item('text')

  -
    // Modifiers
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods.trim() + ' s-breadcrumb--' + modsList[i].trim();
      }
    }

  ul.s-breadcrumb(class=allMods, aria-label='Breadcrumb', role='navigation')&attributes(attributes)
    block



mixin breadcrumb-item(text, href, mods)

  //- Declaration:
  //-   text   {string} - text
  //-   href   {string} - link
  //-   mods   {string} - modifiers

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods.trim() + ' s-breadcrumb--' + modsList[i].trim();
      }
    }

  li.s-breadcrumb__item(class=allMods)&attributes(attributes)

    if (typeof(href) !== 'undefined' && href && text !== 'Главная')
      a.s-breadcrumb__link(href=href) #{text}

    else if (typeof(href) !== 'undefined' && href && text === 'Главная')
      a.s-breadcrumb__link(href=href)
        svg(width="14" height="13"): use(xlink:href="#breadcrumbs-icon")
        | #{text}

    else
      span #{text}
