mixin page-header(mods)

  //- Param:
    mods  {string} - список модификаторов

  //- Use:
    +page-header()
      div header content

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-header--' + modsList[i].trim();
      }
    }

  header.s-page-header(class=allMods, role='banner')&attributes(attributes)
    .s-page-header__info
      .container
        .s-page-header__info-inner
          .s-page-header__logo
            +logo('index.html')
            strong.s-page-header__slogan Контрольно-<br>измерительные приборы
          .s-page-header__hamburger
            +hamburger()
          .s-page-header__search-form
            +search-form()
          .s-page-header__contact
            svg(width="40" height="40"): use(xlink:href="#phone--in-circle")
            ul
              li: a(href='tel:+78126004889') +7 812 600 4889
              li: a(href='mailto:info@radar1.ru') info@radar1.ru
    .s-page-header__nav-group
      .container
        .s-page-header__nav-group-inner
          .s-page-header__catalog
          .s-page-header__nav
            +main-nav()

