.s-page-header {
  background-color: @bg-color--base;
  position: relative;
  z-index: 999;

  &__info-inner {
    border-bottom: 1px solid @border-color;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
    float: left;

    &::after {
      content: '';
      display: table;
      clear: both;
    }

    @supports (display: flex) {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
    }

    @media (min-width: @screen-sm) {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
    }
  }

  &__logo {
    float: left;
    width: 25%;

    @supports (display: flex) {
      width: auto;
      flex: 1 1 auto;
    }
  }

  &__hamburger {

    @media (min-width: @screen-md) {
      display: none;
    }
  }

  &__slogan {
    font-weight: 500;
    font-size: @font-size--small;
    line-height: 1.2em;
    vertical-align: middle;
    padding-top: 0.75rem;
    margin-left: 2rem;
    display: none;

    @supports (display: flex) {
      width: auto;
      flex: 0 1 auto;
      padding-top: 0.125rem;
    }

    @media (min-width: @screen-sm) {
      display: inline-block;
    }
  }

  &__search-form {
    float: left;
    width: 35%;
    max-width: 24rem;
    display: none;

    @supports (display: flex) {
      width: auto;
      flex: 1 0 220px;
    }

    @media (min-width: @screen-md) {
      display: inline-block;
    }
  }

  &__contact {
    float: left;
    width: 20%;
    text-align: right;
    font-weight: 500;
    display: none;
    font-size: 0.875rem;

    @supports (display: flex) {
      width: auto;
      flex: 1 1 auto;
      flex-flow: row nowrap;
      justify-content: flex-end;
      display: none;
    }

    @media (min-width: @screen-md) {
      display: inline-block;
    }

    svg {
      margin-right: 1rem;
      vertical-align: middle;
      display: inline-block;
    }

    ul {
      list-style-type: none;
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 0;
      padding-left: 0;

      li {
        margin-bottom: 0;
        line-height: 1.4em;

        a {
          display: inline-block;
          color: currentColor;
        }
      }
    }
  }

  &__nav-group-inner {
    // border-bottom: 1px solid @border-color;
  }

  &__nav {
    display: none;

    @media (min-width: @screen-md) {
      display: block;
    }
  }
}