.s-news-brief {
  margin-bottom: 2rem;

  &:after {
    content: '';
    clear: both;
    display: table;
  }

  &__cover {
    padding: 1rem;
    height: 200px;

    @media (min-width: @screen-lg) {
      float: left;
      width: 30%;
      padding-left: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: 50% 50%;
    }
  }

  &__info {
    max-width: 37rem;

    @media (min-width: @screen-lg) {
      float: left;
      width: 70%;
    }

    time {
      display: inline-block;
      font-size: 0.875rem;
      opacity: 0.5;
      margin-bottom: 0.5rem;
      font-weight: 700;
    }
  }

  &__title {
    font-size: 1.25rem;
    margin: 0;
    margin-bottom: 0.5rem;
  }
}