.s-gallery {

  &__cover {
    border-radius: 4px;
    overflow: hidden;
    height: 320px;
    margin-bottom: 5px;

    img {
      object-fit: contain;
      object-position: 50% 50%;
      width: 100%;
      height: 100%;
    }
  }

  &__thumb {
    position: relative;
    height: 100px;
    border-radius: 2px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.25s ease 0s;
    border-top: 1px solid @border-color;
    border-radius: @border-radius;
    padding: 1rem;

    img {
      object-fit: contain;
      object-position: 50% 50%;
      width: 100%;
      height: 100%;
      transition: all 0.25s cubic-bezier(.75,.15,.15,.75) 0s;
      box-sizing: border-box;
    }
  }
}