.s-catalog-card {
  padding: 1rem;
  margin-bottom: 15px;
  border: 1px solid @border-color;
  border-radius: @border-radius;
  background: linear-gradient(150deg, #eef2f3, cubic-bezier(0.48, 0.3, 0.64, 1), transparent);

  @media (min-width: @screen-sm) {
    margin-bottom: 30px;
  }

  @media (min-width: @screen-lg) {
    padding: 2rem;
  }

  &__cover {
    padding: 1rem;
    height: 14rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: 50% 50%;
    }
  }

  &__title {
    font-size: 1.25rem;
    color: @accent-color-main;
    font-weight: 500;

    a {
      color: currentColor;
      display: inline-block;
      max-width: 90%;
      position: relative;

      &::after {
        position: relative;
        content: attr(data-count);
        display: inline-block;
        margin-left: 0.5rem;
        font-size: 0.75rem;
        line-height: 0.75rem;
        border-radius: 50%;
        padding-top: 0.375rem;
        text-align: center;
        vertical-align: top;
        font-weight: 700;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__category-list {
    font-size: 0.875rem;
    font-weight: 500;

    @media (min-width: @screen-sm) {
      list-style-type: none;
    }

    li {
      margin-bottom: 0.25rem;
      position: relative;

      a {
        display: inline-block;
        color: currentColor;
        position: relative;
        opacity: 0.6;

        &::after {
          position: relative;
          content: attr(data-count);
          display: inline-block;
          margin-left: 0.5rem;
          font-size: 0.75rem;
          line-height: 0.75rem;
          border-radius: 50%;
          padding-top: 0.375rem;
          text-align: center;
          vertical-align: top;
          font-weight: 700;
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}