mixin product-full-info()

  section.s-product-full-info.s-section
    .s-product-full-info__header
      h2.s-product-full-info__title.s-main-subtitle= title
      a(href='/product-category.html') Анализаторы сигналов
      hr
    .s-product-full-info__main-content
      .row
        .col-xs-12.col-lg-6
          .s-product-full-info__gallery
            .s-gallery
              .s-gallery__cover
                img.s-gallery__cover-image-full(src='img/product-full-info-example-image.jpg', alt='')
              +owl-carousel('s-gallery-thumbs').s-gallery__thumbs
                .s-gallery__thumb
                  img(src='img/product-full-info-example-image.jpg', alt='')
                .s-gallery__thumb
                  img(src='img/product-full-info-example-image-2.jpg', alt='')
                .s-gallery__thumb
                  img(src='img/product-full-info-example-image-3.jpg', alt='')
                .s-gallery__thumb
                  img(src='img/product-full-info-example-image-4.jpg', alt='')

        .col-xs-12.col-lg-6
          .s-product-full-info__brief
            table
              tr
                td Производитель:
                td: img(src='img/rohde&schwarz.svg', alt='')
              tr
                td Цена:
                td 1234567 руб
              tr
                td Госреестр:
                td
              tr
                td Скачать каталог:
                td
                  a(href='.pdf'): img(src='img/adobe-pdf-icon.svg', alt='')
              tr
                td(colspan='2')
                  iframe(width='100%', height='215', src='https://www.youtube.com/embed/XDc7IboVjwA?rel=0&showinfo=0', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='', style='padding: 1rem 0;')
            +btn('Отправить заявку')(type='button', data-toggle='modal', data-target='#myModal')

    .s-product-full-info__additional-content
      .s-product-full-info__tabs
        ul.s-product-full-info__tabs-list.nav.nav-tabs(role='tablist')
          li.s-product-full-info__tabs-item.active(role='presentation')
            a.s-product-full-info__tabs-link(href='#concrete', aria-controls='concrete', role='tab', data-toggle='tab') Описание
          li.s-product-full-info__tabs-item(role='presentation')
            a.s-product-full-info__tabs-link(href='#profile', aria-controls='profile', role='tab', data-toggle='tab') Характеристики
        .tab-content
          #concrete.tab-pane.active(role='tabpanel')
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, distinctio.
          #profile.tab-pane(role='tabpanel')
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, distinctio.
