.s-product-full-info {

  @media (min-width: @screen-md) {
    padding: 2rem;
  }

  &__header {
    margin-bottom: 2rem;

    a {
      display: inline-block;
      color: currentColor;
      text-decoration: underline;
    }
  }

  &__main-content {
    margin-bottom: 2rem;
  }

  &__additional-content {}

  &__title {
    margin-bottom: 0;

    @media (min-width: @screen-sm) {
      margin-bottom: 0;
    }
  }

  &__brief {

    table {
      width: 100%;
      border-collapse: collapse;

      a[href$='.pdf'] {
        display: inline-block;

        > img {
          width: 40px;
          height: auto;
        }
      }

      img {
        width: 120px;
      }

      td {
        vertical-align: middle;

        &:last-child {
          text-align: right;
        }
      }
    }
  }

  &__tabs {
    margin-bottom: 2rem;
  }

  &__tabs-list {
    margin-bottom: 1rem;
    border-color: @border-color;
  }

  &__tabs-item {
    width: 125px;

    @media (min-width: @screen-xs) {
      width: auto;
    }
  }

  &__tabs-link {
    background-color: @bg-color--base;
    color: @text-color;
    font-size: 0.875rem;
    letter-spacing: 0.025em;
    font-weight: 500;
  }

  &__btn {
    text-align: center;
  }
}