.s-btn {
  position: relative;
  display: inline-block;
  background-color: @accent-color-main--muted;
  background-image: none;
  color: @text-color--lightest;
  margin: 0;
  padding: 1em 2.5em;
  border-radius: 0.2em;
  font-size: @font-size--small;
  font-weight: 700;
  letter-spacing: 0.075em;
  line-height: 1.2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1;
  transition: all 250ms ease-in-out 0s;

  &:hover,
  &:active,
  &:focus {}

  &:visited {}

  &--disabled,
  &:disabled {
    opacity: @opacity;
    cursor: not-allowed;
    color: @text-color;
    background-color: @gray-lightest;
    border-color: @gray-lighter;

    @at-root a.s-btn--disabled {
      pointer-events: none;
    }
  }

  &--secondary {
    background-color: @button-secondary-bg-color;
    color: @white;
    box-shadow:
      0 4px 6px rgba(50,50,93,.11),
      0 1px 3px rgba(0,0,0,.08);

    &:hover,
    &:focus {
      transform: translate3d(0,-1px,0);
      box-shadow:
        0 7px 14px rgba(50,50,93,.1),
        0 3px 6px rgba(0,0,0,.08);
    }
  }
}