.error404 {

  &__inner {
    background-color: @bg-color--base;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    margin: 0;
    position: relative;
    font-size: 14vw;
    font-weight: 700;
  }

  &__desc {
    font-size: 1.25rem;
    font-weight: 600;
  }
}
