.s-field-text,
.s-field-textarea {
  display: block;
  margin-bottom: 1rem;

  &__name {
    display: block;
    margin-bottom: 0.4em;
    line-height: 1.5;
    font-weight: 500;
    color: @text-color--lighter;
  }

  &__input-wrap {
    display: block;
  }

  &__input {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    padding: 0.5rem;
    margin: 0;
    line-height: @line-height;
    font-size: 1em;
    font-family: inherit;
    background-color: #fff;
    border: 1px solid @border-color;
    border-radius: @border-radius;
    appearance: textfield;

    &:focus {}

    &[disabled],
    &[readonly] {
      cursor: default;
      background-color: @gray-lighter;
    }

    &[type='search']::-webkit-search-cancel-button,
    &[type='search']::-webkit-search-decoration {
      -webkit-appearance: none;
    }

    &[type='number']::-webkit-inner-spin-button,
    &[type='number']::-webkit-outer-spin-button {
      // height: auto;
    }

    &[type='color'] {
      // max-width: 100px;
      padding: 0;
    }

    &::placeholder {
      color: @text-color--lighter;
      opacity: 1;
    }
  }

  &__help-text {
    font-size: 0.75rem;
    padding-left: 0.6rem;
    color: @text-color--lighter;
  }
}
