include ../blocks/btn/btn.pug
include ../blocks/dropcap/dropcap.pug
include ../blocks/page-header/page-header.pug
include ../blocks/page-footer/page-footer.pug
include ../blocks/promo/promo.pug
include ../blocks/testimonials/testimonials.pug
include ../blocks/hamburger/hamburger.pug
include ../blocks/form/form.pug
include ../blocks/main-nav/main-nav.pug
include ../blocks/social/social.pug
include ../blocks/logo/logo.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/owl-carousel/owl-carousel.pug
include ../blocks/error404/error404.pug
include ../blocks/partners/partners.pug
include ../blocks/about-company/about-company.pug
include ../blocks/special-offers/special-offers.pug
include ../blocks/product-card/product-card.pug
include ../blocks/page-main-section/page-main-section.pug
include ../blocks/news-announcement/news-announcement.pug
include ../blocks/subscription/subscription.pug
include ../blocks/promo-slider/promo-slider.pug
include ../blocks/search-form/search-form.pug
include ../blocks/news-list/news-list.pug
include ../blocks/news-brief/news-brief.pug
include ../blocks/news-item/news-item.pug
include ../blocks/big-quote/big-quote.pug
include ../blocks/company-information/company-information.pug
include ../blocks/section/section.pug
include ../blocks/main-subtitle/main-subtitle.pug
include ../blocks/extends/extends.pug
include ../blocks/list-of-manufacturers/list-of-manufacturers.pug
include ../blocks/manufacturer/manufacturer.pug
include ../blocks/catalog/catalog.pug
include ../blocks/mobile-nav/mobile-nav.pug
include ../blocks/promo-category/promo-category.pug
include ../blocks/special-offers-announcement/special-offers-announcement.pug
include ../blocks/main-slider/main-slider.pug
include ../blocks/catalog-card/catalog-card.pug
include ../blocks/product-category-card/product-category-card.pug
include ../blocks/product-category/product-category.pug
include ../blocks/pagination/pagination.pug
include ../blocks/catalog-tabs/catalog-tabs.pug
include ../blocks/view-types/view-types.pug
include ../blocks/product-full-info/product-full-info.pug
include ../blocks/gallery/gallery.pug
include ../blocks/tag-list/tag-list.pug
include ../blocks/product-list/product-list.pug
include ../blocks/search-result/search-result.pug
include ../blocks/main-table/main-table.pug
include ../blocks/field-text/field-text.pug
include ../blocks/field-action/field-action.pug
include ../blocks/modal/modal.pug
include ../blocks/field-textarea/field-textarea.pug
include ../blocks/field-checkbox/field-checkbox.pug
