.s-main-subtitle {
  margin: 0;
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
  color: @accent-color-main;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @media (min-width: @screen-sm) {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
}