a,
area,
button,
[role='button'],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

[role='button'] {
  cursor: pointer;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  box-sizing: content-box;
  max-width: 100%;
  height: auto;
  border: 0;
}

svg {
  fill: currentColor;

  a &,
  button & {
    pointer-events: none;
  }

  &:not(:root) {
    overflow: hidden;
  }
}

p {
  max-width: 45rem;

  a {
    color: @alternative-color;
    white-space: normal;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin: 0;
  padding: 0;
}

p,
ul,
ol,
dl,
table,
blockquote,
pre,
address,
figure {
  margin-top: 0;
  margin-bottom: @line-height;
}

ul {
  padding-left: 1.5rem;

  li {
    line-height: inherit;
    margin-bottom: @line-height / 2;
  }

  @media (min-width: @screen-sm) {
    padding-left: 0;
  }
}

address {
  font-style: normal;
}

dt {
  font-weight: 700;
}

dd {
  margin-left: 0;

  @media (min-width: @screen-sm) {
    margin-left: 1.5rem;
  }

  & + dt {
    margin-top: (@line-height / 2);
  }
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  font-style: normal;
  line-height: @line-height--heading;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

h1 {
  font-size: @font-size--h1;
}

h2 {
  font-size: @font-size--h2;
}

h3 {
  font-size: @font-size--h3;
}

h4 {
  font-size: @font-size--h4;
}

small {
  font-size: @font-size--small;
}

b,
strong {
  font-weight: 500;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

a {
  text-decoration: none;
  background-color: transparent;
  transition: all 250ms ease-in-out 0s;
  background-color: transparent;
  text-decoration-skip: ink;
  -webkit-text-decoration-skip: objects;
}

button {
  background-color: inherit;
  border: none;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 0;
  border-top: 1px solid @border-color;
  box-sizing: content-box;
  overflow: visible;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
textarea {
    -webkit-appearance: none;
}

input[type='search'] {
  -webkit-appearance: textfield;
}

button,
input {
  overflow: visible;
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

code,
kbd,
pre,
samp {
  font-family: @font-family--monospace;
}

code {
  display: block;
  padding: 0.06em 0.3em;
  color: @text-color;
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: @border-radius;
}

kbd {
  padding: 0.06em 0.3em;
  color: @text-color;
  background-color: @gray-lightest;
  border-radius: @border-radius;
}

pre {
  display: block;
  width: 100%;
  overflow-x: auto;
  tab-size: 2;
}