// Width

@screen-xs:                   480px;
@screen-sm:                   768px;
@screen-md:                   992px;
@screen-lg:                   1200px;
@screen-xl:                   1440px;
@screen-xxl:                  1920px;


// Colors

@black:                       hsl(0, 0%, 0%);
@gray-darkest:                hsl(0, 0%, 15%);
@gray-darker:                 hsl(0, 0%, 20%);
@gray-darken:                 hsl(0, 0%, 30%);
@gray-dark:                   hsl(0, 0%, 40%);
@gray:                        hsl(0, 0%, 50%);
@gray-light:                  hsl(0, 0%, 60%);
@gray-lighten:                hsl(0, 0%, 70%);
@gray-lighter:                hsl(0, 0%, 85%);
@gray-lightest:               hsl(0, 0%, 97%);
@white:                       hsl(0, 0%, 100%);

@accent-color-main:           #24b47e;
@accent-color-main--muted:    #73cf99;

@accent-color-secondary:              ;
@accent-color-secondary--muted:       #eef2f7;

@alternative-color:           #6772e5;

@text-color:                  #525f7f;
@text-color--lighter:         #8898aa;
@text-color--lightest:        @white;

@bg-color--default:           @white;
@bg-color--base:              #f7f9fc;
@bg-color--muted:             #e7ebf1;

@main-gradient:               linear-gradient(
  150deg,
  #eef2f3,
  cubic-bezier(0.48, 0.3, 0.64, 1),
  transparent);

@main-title-color:            ;
@main-subtitle-color:         ;

@nav-link-color:              ;
@nav-link-color-hover:        ;

@box-shadow:                  0 8px 20px 0 rgba(204,214,214,0.3);

@hamburger-color:             ;

@button-main-color:           ;
@button-main-bg-color:        ;
@button-main-bg-hover:        ;

@button-secondary-bg-color:   #31345a;

@button-ghost-color:          ;
@button-ghost-bg-color:       ;
@button-ghost-border-color:   ;
@button-ghost-border-hover:   ;

@input-border:                ;
@input-border-focus:          ;

@border-color:                #e5ebf2;
@border-radius:               2px;

@opacity:                     0.5;


// Typography

// Main size
@font-size:                   100%;
@font-size--desktop:          112.5%;

@line-height:                 1.65em;
@line-height--desktop:        1.5em;
@line-height--heading:        1.2em;

// Custom
@font-size--h1:               2.5rem;
@font-size--h2:               2rem;
@font-size--h3:               1.5rem;
@font-size--h4:               1.25rem;
@font-size--h5:               1rem;
@font-size--h6:               1rem;
@font-size--small:            0.75rem;
@font-size--accent:           1.125rem;

// Perfect Fifth
// @font-size--h1:               5.063rem;
// @font-size--h2:               3.375rem;
// @font-size--h3:               2.25rem;
// @font-size--h4:               1.5rem;
// @font-size--h5:               1rem;
// @font-size--h6:               1rem;
// @font-size--small:            0.75rem;
// @font-size--accent:           1.125rem;

// Perfect Fourth
// @font-size--h1:               3.157rem;
// @font-size--h2:               2.369rem;
// @font-size--h3:               1.777rem;
// @font-size--h4:               1.333rem;
// @font-size--h5:               1rem;
// @font-size--h6:               1rem;
// @font-size--small:            0.75rem;
// @font-size--accent:           1.125rem;

@font-family:                 Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Cantarell, "Helvetica Neue", sans-serif;
@font-family--sans:           "Times New Roman", Times, Georgia, sans-serif;
@font-family--monospace:      Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
