.s-partners {
  background-color: @bg-color--base;
  border-top: 1px solid @border-color;
  padding-top: 1rem;
  padding-bottom: 1rem;

  &__slide {
    width: 100%;
    height: 100px;
    text-align: center;
    position: relative;
    color: @text-color--lighter;
    display: inline-block;

    svg {
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%,-50%,0);

      @media (max-width: (@screen-xs - 1)) {
        width: 80%;
      }
    }
  }
}