mixin partners(mods)

  .s-partners(class=allMods)&attributes(attributes)
    .container-fluid
      +owl-carousel('partners')

        .s-partners__slide
          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 151 51', width='151', height='51')
            title Arnitsu
            path(fill-rule='nonzero', d='M31.4955062 12c.4049558.20176591.6071076.40288306.8092595.80576613v3.82641596c0 .40288306.4049557.60464898.6077597.60464898 1.2142152.20111715 2.4290825.20111715 3.8461017.20111715l.4049557.40288306V38.3826774c0 .201766-.2028039.4028831-.4049557.4028831h-4.4538614c-.2021519 0-.4049558-.2017659-.4049558-.2017659V19.04948048c-.2021518-.40288307-.4049558-.80576613-.8099116-1.00688328-.6071076-.20176592-1.2142152-.20176592-1.6191709.20176591l-.6071076 1.00688328L17.12316287 38.5844434l-.40495577.2017659h-5.46527267c-.40495577.2017659-.20215183-.2017659-.20215183-.4028831l15.5865586-25.7773797c.2028039-.2017659.6071076-.40288305.8099115-.60464897h4.0482535V12zm49.1881061.40288306c.202804 0 .202804.20176592.4049558.40288307l-.2028039 2.61841553c0 .20176592-.4049558.40288307-.6064555.40288307h-4.2517096s-.4049558-.20176592-.4049558-.40288307v-2.61841553c.202804-.20111715.202804-.40288307.4049558-.40288307 1.4176713-.20176591 3.0374944-.20176591 4.6560132 0zm8.9070707.40288307v4.63218209h5.0616211c.202804 0 .4049558 0 .4049558.20176591v3.62465005l-.2028039.20176592h-5.263773V33.95291c0 .4028831.6077597.8044686 1.0127155.8044686h3.8461017c.2028039 0 .6077597.2017659.6077597.4028831v3.4235329c0 .2017659-.4049558.2017659-.6077597.4028831-3.6439499 0-7.8950073.402883-9.7163301-3.2224158-.202804-.604649-.6077597-1.2086492-.6077597-2.0137666V12.60400021c.2028039-.20176591.4049557-.20176591.6077597-.40288306l4.4538614.20176591.4036515.40288307zm-36.0312822 4.63153332c1.619171.20176592 3.2389941 1.2086492 4.0482536 2.61841554.2028039.80576613.4049557 1.40976634.4049557 2.21553251v16.3125471l-.2021518.2017659-4.6560132.2017659c-.4049558-.2017659-.4049558-.402883-.4049558-.8057661V22.8752477c-.2028039-.4028831-.2028039-1.0068833-.6077597-1.20800045-.6071076-.20176592-1.2142152-.20176592-1.8219749-.20176592h-4.4532093l-.202804 17.11766447c0 .2017659-.2021518.2017659-.4049557.4028831l-4.4532093-.2017659c-.202804 0-.202804 0-.4049558-.2017659V17.63906537c.2021518 0 .2021518-.20176592.4049558-.20176592h12.7538244zm19.4326603 0c.2028039 0 .2028039.20176592.4049558.20176592v3.4235329l-.4049558.40288306h-5.6680766c-.202804.20176592-.8099116.40288307-.8099116.80576617l-.2028039.8057661v15.506781l-.4049558.2017659-4.4532093.2017659c-.2028039-.2017659-.4049557-.402883-.4049557-.604649V22.4717158c0-2.01376651 1.4170191-4.22929898 3.4411459-4.8332992.4049557 0 .8099115-.20176591 1.2142152-.20176591h7.2885518v.00064876zm7.4893994 0c.4049558 0 .4049558.20176592.6077597.40288307V38.5831458c-.2028039.2017659-.4049558.2017659-.6077597.4028831l-4.4525572-.2017659s-.2028039-.2017659-.4049557-.2017659V17.84018252c0-.20111715.4049557-.40288307.6077597-.40288307h4.2497532zm39.6752325 0c.404955 0 .404955.20176592.404955.40288307l.202804 15.91031278c0 .4028831.202804.8044686.809912 1.0062346 1.821323.2017659 4.047601 0 6.07238 0V17.63906537l.202804-.20176592c1.618519 0 3.441146-.20111715 4.857513 0l.202804.40288307c0 1.40976634.202804 2.81953268 0 4.22929898v16.7154302l-.404956.201766h-12.753172c-1.821323-.201766-3.642646-1.8120007-4.250406-3.6252989l-.202804-1.0062345V17.63906537c.202804-.20176592.404956-.20176592.60776-.20176592h4.250406zm-7.286596.20176592v3.62465005l-.404956.20176591h-8.9064183c-.6077597.20176592-1.2148673.40288307-1.2148673 1.20800047-.2028039 1.0068832 1.0127155 1.2086492 1.4176712 1.8126494l7.2865954 4.4304161c1.619823 1.4104151 2.834038 3.2224158 2.429083 5.6384166-.403652 2.0144154-2.024127 3.6252989-3.8447978 4.0281819l-1.2148673.2017659H97.6897985c-.202804 0-.4049558-.2017659-.4049558-.402883v-3.2224158c0-.2017659.2028039-.402883.4049558-.402883h9.1092225c.4049558-.201766.8086073-.6033515 1.0114113-1.2073517 0-.604649-.202804-1.007532-.6064555-1.4104151-2.8340383-2.0137666-5.6687287-3.6240013-8.502767-5.6384166-1.8213229-1.4097664-2.6312344-3.6246501-1.8213229-5.63841662.6077597-1.8126494 2.2262786-3.0212986 4.0489056-3.4235329h11.7404565l.200848.20046839z')

        .s-partners__slide
          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 151 51', width='151', height='51')
            title Keysight Technologies
            path(d='M54.7397369 40.8194095v-6.7229669H52v-.8973093h6.5999216v.8973093h-2.7380078v6.7229669h-1.1221769zm5.7941674-7.6202762h5.1284694v.8973093h-3.9950534v2.3758944h3.8022603v.8860224h-3.8022603v2.5347173h4.0858304v.9263328h-5.2183818l-.0008646-7.6202762zm12.4381808 2.0590547c-.0458208-.2644361-.1927931-1.3197621-1.7645324-1.3197621-1.9702936 0-2.321298 1.8784642-2.321298 3.1450166 0 1.4358561.4409169 2.9861937 2.3074653 2.9861937.4979768 0 .9752046-.1152877 1.3253445-.453895.2939446-.2958783.361379-.6215862.3968253-.8013705h1.2440774c-.1711795 1.4971278-1.6530063 2.1195203-3.0578887 2.1195203-2.8737411 0-3.4287777-2.3638013-3.4287777-3.8415802 0-1.6051597.6674272-4.0004031 3.5766145-4.0004031 1.1550295 0 2.7846932.4329336 2.93253 2.1654741h-1.2103602v.0008062zm4.5379864-2.0590547v3.2748161h3.8809337v-3.2748161h1.1342805v7.6210824h-1.1342805v-3.4408949h-3.8809337v3.4400887h-1.1334159v-7.6202762h1.1334159zm8.4543664 0h1.5734683l4.016667 6.3021264v-6.3021264h1.0400452v7.6210824h-1.4489741l-4.1532648-6.4682052v6.4682052h-1.0305353v-7.6210824h.0025937zm10.2629904.8239444C97.075545 33.1684974 98.1977219 33 98.954197 33c2.265103 0 3.692463 1.3512043 3.692463 3.9367127 0 2.0260002-.871459 4.0624811-3.7806463 4.0624811-2.7872868 0-3.6924634-1.8454097-3.6924634-3.9367127.0017291-.8658672.159076-2.1429003 1.053878-3.0394034zm.8602203 5.3830495c.4642596.5377406 1.1662686.6957573 1.8129468.6957573.6674272 0 1.3339896-.1676912 1.8103536-.6957573.668291-.760254.73659-1.9639222.73659-2.4807014 0-1.730122-.611232-3.0394034-2.4803738-3.0394034-2.0714451 0-2.6022746 1.5503376-2.6022746 3.1135745-.0008645.8352313.159076 1.7510833.722758 2.4065303zm8.2511984-6.2069939h1.121313v6.6834627h3.80226v.9376197h-4.923573v-7.6210824zm7.163604.8239444C113.350568 33.1684974 114.471016 33 115.230084 33c2.264239 0 3.691599 1.3512043 3.691599 3.9367127 0 2.0260002-.873188 4.0624811-3.782376 4.0624811-2.784693 0-3.689005-1.8454097-3.689005-3.9367127 0-.8658672.158212-2.1429003 1.052149-3.0394034zm.86022 5.3830495c.46426.5377406 1.165404.6957573 1.810353.6957573.668292 0 1.335719-.1676912 1.810354-.6957573.667427-.760254.738319-1.9639222.738319-2.4807014 0-1.730122-.611232-3.0394034-2.479509-3.0394034-2.071445 0-2.602275 1.5503376-2.602275 3.1135745 0 .8352313.157347 1.7510833.722758 2.4065303zm13.593211-4.3067621c-.124495-.7070442-.736591-1.1923813-1.846664-1.1923813-.767715 0-1.414393.1878464-1.844935.6425476-.712384.7384863-.870595 1.7301219-.870595 2.4500655 0 .6425476.146972 1.7309281.746965 2.3952434.533423.5707951 1.358197.7497732 2.173461.7497732.92679 0 1.518138-.1676912 1.778365-.2434747v-2.2589943h-1.867413v-.8739292h2.9991v3.7569283c-.474634.147536-1.516408.4627633-2.908323.4627633-1.505169 0-2.388732-.3998791-2.966247-.950519-.80316-.7594478-1.142926-1.8260607-1.142926-2.9031543 0-.7578353.204033-2.5524539 1.754158-3.5239343.805754-.5071047 1.867413-.5385468 2.274613-.5385468.644949 0 1.630528.0741711 2.41121.8134637.487603.4756626.520455.9182706.543798 1.2133427h-1.234567v.0008062zm4.16191-1.9002318h1.131687v7.6210824h-1.131687v-7.6210824zm4.346058 0h5.127604v.8973093h-3.995053v2.3758944h3.801396v.8860224h-3.801396v2.5347173h4.087559v.9263328h-5.219246v-7.6202762h-.000864zm8.476844 5.3935302c.023343.5280661.089913 1.509221 1.966836 1.509221 1.698827 0 1.914962-.9811549 1.914962-1.3608788 0-.8553864-.73659-1.0238839-1.879516-1.2875138-1.243213-.2853976-1.79825-.4135846-2.217553-.6747959-.667427-.4240653-.848117-.9916356-.848117-1.5003528 0-1.5503376 1.572604-2.2267459 3.111491-2.2267459.544662 0 1.643496.0846518 2.29882.7497733.451291.4643756.475498.9827673.499705 1.2979945h-1.178372c-.057924-.950519-.918144-1.1609392-1.72044-1.1609392-1.131687 0-1.812083.4756626-1.812083 1.2343041 0 .6772146.476364.9085962 1.470588 1.1311096 1.946951.4635694 2.161358.5054923 2.63945.8021767.758204.4643757.813535 1.2044745.813535 1.5197017C149 39.9769223 147.867449 41 145.775254 41c-.623335 0-1.889891-.0951325-2.53484-.865061-.465988-.5595082-.477227-1.1722261-.477227-1.5422755h1.177507zM52 13.43499917h3.1741865v6.13730699l4.9533154-6.17798439h3.7063751l-5.4260849 6.39465382 5.8962709 7.87481321h-3.9492184l-5.1806581-7.2629919v7.2629919H52V13.43499917zm13.7387333-.0406774h9.9083532v2.3285738h-6.7350278v3.3961481h6.3061767v2.32774363h-6.3061767v3.8485805h6.9606482v2.3692512H65.7387333V13.39432177zm15.0020355.05894072l3.0493202 6.49427196 3.1113228-6.49427196h3.2551342l-4.9946504 9.01959161v5.1909347H82.028183v-5.230782l-4.9946505-8.97974431h3.7072363zM93.1628089 23.104599c0 .6715923-.0404739 2.7038021 2.6824718 2.7038021 1.7205709 0 2.8056157-.7894737 2.8056157-1.9931927 0-1.26349-.9205658-1.4793293-2.8056157-1.9143284-3.5203675-.8492446-5.4458913-1.8562179-5.4458913-4.32259675 0-2.34849743 1.7395162-4.42055454 5.8549359-4.42055454 1.5354244 0 3.3567496.33455088 4.4633227 1.67773534.838757 1.02606675.838757 2.17167525.838757 2.64569152h-3.0493201c-.0404739-.49477005-.2058141-2.17167524-2.3939876-2.17167524-1.4742831 0-2.4379062.7687199-2.4379062 1.93508218 0 1.32243068 1.0859059 1.55902374 3.2137993 2.07205711 2.5593278.59189773 5.0773206 1.26348998 5.0773206 4.04615638 0 2.5651669-2.2105635 4.637224-6.3044546 4.637224-5.6715117 0-5.7128467-3.5115391-5.7317919-4.8945708l3.2327444-.0008302zm10.7677771-9.74929433h3.173326V27.6637888h-3.173326V13.35530467zm15.764151 4.42055454c-.020668-.37356799-.041335-.88743152-.411629-1.44031214-.612275-.94720239-1.777406-1.10576125-2.475796-1.10576125-3.603899 0-4.319512 3.23758924-4.319512 5.42752778 0 .9662959.14209 2.7038021 1.229718 3.8286568.73628.7894737 1.720571 1.2236427 3.478171 1.2236427 1.536286 0 2.067613-.1784824 2.4181-.2764403v-3.0009961h-2.867618v-2.3667608h6.039221v7.1251868c-.919705.2947036-2.433601.7886435-5.401973.7886435-3.379139 0-5.119517-.7886435-6.287232-1.8952349-1.657707-1.5590238-1.962553-3.8286568-1.962553-5.3287398 0-5.05146941 3.274941-7.7552715 7.75807-7.7552715 1.903995 0 3.868271.51303337 5.036847 1.7956168.982568 1.08500747 1.042848 2.21069235 1.064377 2.97941226l-3.298191.00083015zm5.788627-4.38153744h3.173326v5.70562842h5.589702v-5.70562842h3.214661V27.6637888h-3.174187v-6.2576789h-5.631038v6.2576789h-3.173325V13.39432177h.000861zm17.921323 2.36842105h-4.402182v-2.36842105H151v2.36842105h-4.402182V27.6637888h-3.19227V15.76274282h-.000861zM44.9991494 28.0940893c-.3547125-.0551439-1.1041171-.4333966-1.639163-2.5012925-.8591358-3.3112183-1.2623341-6.14940545-2.7177612-6.14940545-1.4537257 0-2.1146648 2.83818715-2.9729499 6.14940545-.5078258 1.9576082-1.0420211 2.5012925-1.9011569 2.5012925-.8038448 0-1.6383123-.3989316-2.86492-5.5161124C31.8305546 18.10442874 31.1007145 10 27.5017013 10c-3.5998639 0-4.6605989 10.56264-5.1233413 12.5995175-.5707724 2.5099087-1.9853692 5.4945718-3.7674379 5.4945718-1.7812181 0-2.7024498-2.0782354-3.2357945-4.3072549-.8166043-3.4137515-1.744641-8.35516113-4.1119428-8.35516113-2.36900311 0-3.13882277 4.09184905-4.18254513 8.56195073-.61415447 2.6331208-1.59578087 4.0996036-3.32085743 4.0996036H0v.0172325c.4908132.1490608 1.47158898.9719111 1.72507656 2.5667758.59629125 3.7601241 1.05222865 6.0882302 2.34688669 6.0882302 1.29635931 0 1.76845866-2.0067206 2.51871385-5.1335516.58693433-2.4504566 1.5039129-3.5188695 2.59952365-3.5188695 1.60854035 0 2.36645115 1.9731173 3.24515145 5.7444425C14.185097 41.3682578 14.5585233 45 17.3766587 45c2.798571 0 3.2340933-3.6394968 5.114835-11.1425125.8183056-3.2646907 2.3451854-5.7461658 4.1264035-5.7461658 1.7803675 0 3.0520586 2.403929 3.7002382 4.3210409 1.4035386 4.1538859 2.050017 5.7185938 3.5956108 5.7185938 1.5447431 0 2.4183395-1.8783388 3.7801973-6.411339.8574345-2.8545579.9841783-3.627434 3.5088466-3.627434H45l-.0008506-.0180941z')

        .s-partners__slide
          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 151 51', width='151', height='51')
            title Rohde&Schwarz
            path(d='M11.5004353 5L0 16.6663723l11.5004353 11.6663723L23 16.6663723 11.5004353 5zm4.9179378 15.8427746c-.1375525-1.1101158-1.2553843-1.5658197-1.7777357-1.8864021-.4083046-.2508137-.6337863-.456587-.6337863-.456587-.275105-.2313845-.4065634-.7003356-.17847-.97941.2280934-.2781914.7269389-.2622947 1.002044-.0309102l.3447519.2896722.6982096-.8407559-.4962338-.438041s-.712139-.6976861-1.8996177-.2940879c.153027-.2483154.2916843-.5054512.4152693-.7701042.6572921-1.38654087 1.7411711-2.51785222 3.0792612-3.22790243l4.3947159 4.45812623-4.9249025 4.9959627c.0261175-.2190204.0217646-.4574701-.0235059-.8195604zm-8.22093943-5.99126947l1.49131307 1.67886247c-.30470495.2172542-.62508044.4106634-.96286764.5766951-.18364624.087914-.36398373.1827716-.54063363.2843733v-2.53993087h.0121882zm-.01131762-1.20902828v-1.67709621h.89931489c.51103373 0 .90018547.39476672.90018547.78953344v.09802932c0 .39476673-.38915174.7904166-.90018547.7904166h-.89931489v-.00088315zm.77046823 3.95384925c1.55377002-.7675826 2.80326162-2.0494321 3.54241262-3.63415003.6507224-1.37066499 1.7161941-2.49452113 3.0409554-3.20759001l.3160226.31969922c-1.3605509.77152559-2.4534624 1.94990372-3.1297551 3.37450481-.6860809 1.47245761-1.8461512 2.66390631-3.28907229 3.37803741-1.45975264.6898151-2.66379365 1.8351034-3.43620122 3.2685271l-.31428139-.318816c.71367766-1.397438 1.86352155-2.5157371 3.26991938-3.1802125zm.71039782.7215311c1.5538309-.7679224 2.803307-2.0500675 3.5424127-3.63503315.6507224-1.37066499 1.7161941-2.49452113 3.0409553-3.20759002l.325599.33118014c-1.3776555.77141728-2.484324 1.95887456-3.1663197 3.39746663-.6861858 1.4726835-1.8466141 2.6641845-3.2899428 3.3780374-1.44587332.6845043-2.6410908 1.8156623-3.41443659 3.231435l-.30818729-.3126341c.71305778-1.398548 1.8629993-2.5178738 3.26991938-3.1828619zm5.4785949-7.9642199c-1.3607624.7712506-2.4537458 1.94970623-3.1297551 3.37450481-.3424624.73336362-.804568 1.40278379-1.3668193 1.98001569l-.8496915-.95733143c1.002044-.26317781 1.5278777-1.0103202 1.5278777-1.75834574v-.37887007c0-.92907068-.8105152-1.8590245-2.34013403-1.8590245l-1.51133654-.01766294 4.02384647-4.08102244 3.6460123 3.69773662zm-8.20004538.92288865v7.00865485c-.66890169.5925389-1.22945212 1.3001978-1.65585374 2.090409l-3.65645936-3.7092175 5.3123131-5.38984635zm.15496424 10.93512655c.71587493-1.3794008 1.85733559-2.4830484 3.24989594-3.1422371.7682734-.3788761 1.4676831-.8871131 2.0685113-1.5031163-.0705175.2799576-.0835763.6208524.1601877 1.1383765.457928.9679292 1.8134297 1.5631703 1.8134297 1.5631703.7783035.4106633.7652447 1.1330776.4056929 1.4465948-.3412695.2958543-.8914796.197825-1.2945607-.0733012l-.6224687-.492796-.8375033.9440841.5667512.4927961s.6929861.7771694 2.2992165.6323333l-3.4083425 3.4575206-4.40081004-4.4634251zm-1.54093645 8.8994726c.5728453 0 .97244407.0980293 1.20053749.294088.22722283.1969418.34126954.4716005.34126954.8283919 0 .3435442-.11927022.6173198-.35781067.8222099-.23766985.204007-.64945683.306452-1.23187857.306452H3.70695333v-2.2502586h1.85260608v-.0008832zm-1.85260608 4.8149176h1.47041902c.4823044 0 .84272682.0556383 1.08213785.1686811.23766986.1130428.41701049.2773082.53628071.4963287.12014081.2181373.1810818.5254724.18717589.9237718l.02350581.8628346c.01654113.7639222.07661153 1.3044082.18195239 1.621458h3.8323176c-.1401642-.0468068-.199364-.2163711-.2568227-.3514926-.0633935-.1965596-.1000067-.4009865-.1088232-.6076051l-.0557175-1.8466605c-.020894-.823093-.1645406-1.4077363-.4291986-1.75393-.26465806-.3461936-.7687271-.6623602-1.51133659-.9467336.36129301-.0971462.6572921-.2375665.89147962-.420378.33343427-.2578789.59112757-.5855265.77482117-.9838258.182823-.3974161.2742344-.889329.2742344-1.4757387 0-.4724836-.0600704-.8681335-.1793406-1.1851833-.2657373-.6910898-.77221639-1.2592407-1.42340739-1.5967298-.34649305-.1828114-.78787993-.3170498-1.32416064-.4035982-.53453954-.0865484-1.19792573-.1289395-1.98754684-.1289395H.05049396V40h3.65645937v-4.0739573zM15.40327 36.4843084c-.484017-.6003778-.7264539-1.4343789-.7264539-2.5011446 0-.7111771.1053701-1.3081192.3161103-1.7925442.2115968-.483566.4977237-.8408724.8566673-1.0702013.3418332-.2240726.7412406-.343731 1.1496475-.3444227.365797 0 .6930439.0841732.9825975.2508016.2895535.1666285.519997.3736257.6921871.6201327.1730468.2447892.3092569.5677392.4112004.967991.1010867.4002519.1524867.8563329.1524867 1.3691018 0 .7111771-.1045134 1.3132727-.3135402 1.8071457-.2090268.493873-.4874437.8486026-.836964 1.0624711-.3495202.2147274-.7350205.3220911-1.1573575.3220911-.6373605 0-1.1445076-.2310467-1.5265812-.6914222zm4.846167 2.6514538c.8943607-.5651625 1.5608479-1.3003891 1.9986049-2.2073976.4386137-.9078673.6579205-1.9299697.6579205-3.0706016 0-1.1655402-.2501469-2.1970906-.7478706-3.0937921-.4985803-.8975605-1.2181809-1.5812525-2.1588016-2.0519349-.9414774-.4706824-1.9729048-.7043058-3.0934257-.7043058-.5893871 0-1.1539309.0678538-1.6936313.2061383-.5221841.1323837-1.0256038.3303539-1.4983111.5892119-.4591737.2542372-.9003574.617556-1.3252644 1.0908151-.424907.4732592-.7624339 1.0547409-1.0134374 1.7444453C11.1250734 32.3289041 11 33.107935 11 33.9754337c0 1.8148758.5414137 3.2698686 1.6268112 4.3649782 1.0836842 1.0951097 2.534022 1.643094 4.3484434 1.643094 1.2892843-.0008589 2.3798218-.2834402 3.2741824-.8477437zm6.7256952.5497021h-3.7239329V28.3049129h3.7239329v3.8504914h3.4883493v-3.8504914h3.7316428v11.3805514h-3.7316428v-4.4079238h-3.4883493v4.4079238zm12.4867828-8.5487267c.6887605 0 1.1967643.0730073 1.5248678.219022.2347269.0996335.4343304.2645441.5988105.4947319.1644801.2301877.2904102.5282293.3795036.8932659.0890934.3667543.1327835.7532636.1327835 1.1612457 0 .6699494-.0950901 1.2290995-.2852703 1.6791681-.1910368.4492097-.4626003.7730186-.8146906.9714267-.3512336.199267-.8746573.2989005-1.5677012.2989005l-.9389074.0085891v-5.725491h.9706041v-.0008589zm2.6702321 8.3168211c.5970971-.1546037 1.0828274-.3555886 1.4554777-.6038134.3726503-.2482249.7178872-.5866352 1.0365675-1.01609.3178236-.4285959.5868171-.9774391.8052673-1.6473885.2184501-.6682316.3289602-1.4266487.3289602-2.2735335 0-1.2548669-.2432935-2.3190558-.7281672-3.1925668-.4848737-.8726521-1.1487909-1.4936437-1.9908949-1.8629748-.8421039-.3684722-1.8478314-.5531377-3.0154689-.5531377h-5.170844v11.3805584l5.0783239-.0000071c.870374.000859 1.6036812-.0773018 2.2007784-.2310466zm13.6989671.2319056h-9.4567506V28.3049129h9.2305904v2.6823745h-5.6325876v1.6001484h4.7793469v2.5801643h-4.7793469v1.7882496h5.8587478v2.7296146zm5.4569708-8.706766c0-.2447892.0968034-.4535043.2929802-.6261451.1961768-.1726408.460887-.2593907.7949873-.2593907.3383836 0 .6065204.0893266.8052673.2671209.1978901.1777943.2964068.4028286.2964068.674244 0 .2568139-.0728167.4732592-.2184501.6519123-.1978902.2344823-.5268504.4535043-.9851674.6587837-.6570639-.4243014-.9860241-.8795234-.9860241-1.3665251zm5.8587478 5.9917529c.3229636-.3186554.6724838-.7489691 1.0477041-1.2900821.376077-.541113.6750539-1.0470107.9003574-1.5176932h-3.0428824c-.1876614.3679387-.4455399.6953619-.7590072.9636965l-.9860241-1.034986c.5945271-.3066307 1.0562708-.712036 1.3843744-1.2110624.3220731-.4784286.493657-1.0426967.4925837-1.6199034 0-.8778055-.3392402-1.6181856-1.0202908-2.2202812-.6801938-.6003777-1.6602212-.9009961-2.9375122-.9009961-1.251591 0-2.2341884.3057718-2.9486489.9173154-.5791071.4912963-.867804 1.1535155-.867804 1.9840811 0 .7841844.3281036 1.4953615.9851674 2.1326723-.5371304.3092075-.9517574.5969422-1.2438809.8632041-.3677417.3321775-.6631685.7368576-.867804 1.1887308-.2008229.4529448-.3022002.9438756-.2972636 1.4395324 0 .6381698.1559135 1.2127803.468597 1.7255493.3126836.512769.7478706.9070084 1.302991 1.1844362.5551204.2765689 1.2678677.4148533 2.139955.4148533.875514 0 1.6867779-.14172 2.4320785-.4234424.5552015-.2088311 1.0747905-.5026255 1.5402878-.8709342l.9080674.9886048h4.0049197l-2.6359653-2.7132952zm-5.0337772.3933806c-.2620437.1069166-.5420636.1626007-.8249706.1640517-.3495203 0-.6210838-.0919033-.8129773-.2782867-.1936068-.1846655-.2904102-.4320315-.2904102-.74038 0-.2559551.0788134-.4792715.2347268-.6665138.2694908-.331719.6197111-.588194 1.0168641-.7446746l1.6113913 1.70923c-.3486636.2611085-.6604905.446633-.9346241.5565734zm17.8435236-5.7641419h-3.535466c-.0839534-.3298213-.2415802-.5771872-.4728804-.741239-.2321568-.1640517-.5654004-.2473659-.9971607-.2473659-.422337 0-.7461573.0867499-.9697474.2593907-.1614638.1190002-.2550948.3093156-.2510036.5101922 0 .1769354.0633934.3212322.1884668.4311726.1764735.1571805.5962405.3152198 1.259301.4792715l1.4460544.352153c1.3398277.3238089 2.2821618.7833255 2.8210055 1.3802676.5405571.5960832.8095506 1.2857876.8095506 2.069972.0067815.5973567-.137016 1.1867559-.4180536 1.7135245-.2792736.5153457-.6227972.920751-1.0288575 1.2196515-.4069169.2980417-.9337673.5351007-1.5796945.7094593-.6662421.1775349-1.3529281.2661944-2.0422949.2636852-.7462098.0050244-1.4892171-.0982563-2.2059183-.3066307-.6887606-.2027026-1.2550177-.4955908-1.7004847-.8778055-.4308931-.3613397-.7769354-.8135745-1.0134374-1.3244385-.1610535-.3564475-.2732769-.7953502-.3375269-1.3184262h3.5757294c.0830967.361601.2638535.6381698.5397004.8322834.2758468.1941135.7007538.2903114 1.2747209.2903114.5002938 0 .8609507-.0841731 1.0794009-.2516605.1619101-.1254008.2424368-.3006183.2424368-.5247937 0-.2301878-.0736734-.4148533-.2244468-.5565734-.1473468-.1408612-.5559771-.2928881-1.2224643-.4543631l-1.2995643-.3220911c-.6587854-.1544712-1.2987917-.3805573-1.9086548-.674244-.5945271-.2877347-1.0425641-.6587836-1.3449677-1.1140057-.3032602-.4543631-.4540337-1.0066419-.4540337-1.6542597 0-.6373109.1362101-1.2050501.406917-1.7014998.2597835-.4839104.6346653-.8960616 1.0913942-1.1998967.464236-.3077255.9816656-.5259001 1.5257245-.6433232.5687859-.1259883 1.1496821-.188781 1.7321813-.1872423.7093205 0 1.3578177.0704306 1.9480615.2147274.5893871.1434379 1.0571274.332398 1.4075044.5643036.3503769.2319055.6339338.4998853.8532406.8005037.2175935.3014772.3897837.6063901.5122871.9173153.1225034.3109253.2210202.6716673.2929802 1.0916741zm11.9650725 1.0581765h-3.5200461c-.06168-.5703159-.2647102-1.0135132-.6056638-1.3304509-.3426669-.3152198-.7761405-.474118-1.3029909-.474118-.6579205 0-1.1933376.2568139-1.6079646.7695829-.414627.5119101-.6227971 1.3424756-.6227971 2.4934144 0 .7893379.08995 1.3905746.2672802 1.80371.1756168.4131355.4231936.7206251.7375905.92161.3161103.2009848.7093206.3023361 1.1779176.3023361.5739671 0 1.0288574-.1588982 1.3689544-.4749769.3392402-.3152198.540557-.7850434.6022371-1.4077528h3.5825827c-.0771.7060237-.2193068 1.3003891-.4214803 1.7796606-.2038868.4818482-.5439838.9628376-1.0202908 1.4438269-.476307.4809894-1.0459908.8528972-1.7064813 1.1183002-.6596338.2636853-1.4203544.3959573-2.2873017.3959573-.865234 0-1.6645046-.1296953-2.3978119-.3882271-.7324505-.2593907-1.3483943-.6244272-1.8452614-1.0942507-.4911581-.4602379-.8883196-1.0118849-1.1693509-1.624198-.3966369-.8520382-.5953837-1.7976976-.5953837-2.838696 0-.882959.1439201-1.7066532.430047-2.4702238.2878402-.7635706.6827638-1.4043171 1.1830575-1.9213806.4708729-.4978172 1.0369763-.8953897 1.6645046-1.1689759C84.6108528 28.1640517 85.4709467 28 86.4149941 28c.8198307 0 1.5882612.1228241 2.3070051.3684722.7213139.2456481 1.3115577.6055312 1.776728 1.0779315.4598196.4682382.8210648 1.0243763 1.0622675 1.6353637.1764735.4389028.2972636.9636965.360657 1.576099zm4.2970432 7.0275979h-3.7247895V28.3049129h3.7247895v3.8504914h3.4883494v-3.8504914h3.7307857v11.3805514h-3.7307857v-4.4079238h-3.4883494v4.4079238zm10.3219841 0l-2.746475-11.3805514h3.520903l1.244737 7.0507884 1.407505-7.0507884h3.081432l1.393798 7.0507884 1.274721-7.0507884h3.582583l-2.800446 11.3805514h-3.693093L111.5479 33.089039l-1.353534 6.5964253h-3.653687zm15.685579-3.8281599l1.165924-4.1330726 1.204475 4.1330726h-2.370399zm-.687904 2.3370929h3.707656l.430047 1.490208h3.707657l-4.05889-11.3805513h-3.78647l-4.05889 11.3805513h3.63741l.42148-1.490208zM151 39.6854643h-10.216614v-2.6986938l5.116873-5.7014415h-4.897567v-2.9804161h9.778001v2.6428646l-5.193117 5.7409514H151v2.9967354zm-15.885182-8.6440656c.563687 0 .956897.0953389 1.181344.2860168.224447.1915369.33667.4586577.33667.8056572 0 .3341158-.117363.6003778-.352947.7996448-.23387.1984081-.639073.2980416-1.211327.2980416h-1.775015v-2.1885015h1.821275v-.0008589zm-1.822131 4.6827748h1.446054c.47545 0 .830111.0541113 1.063981.1640517.23387.1099404.4112.2696976.528563.4827072.117364.2130095.177331.5110511.184184.8984193l.021417.8391546c.017133.7429568.0771 1.2686094.180756 1.576958h3.77105c-.13878-.0455222-.196177-.2104329-.25443-.341846-.061109-.1914192-.096543-.3901394-.10537-.5909298l-.054827-1.7959798c-.021417-.8005037-.16191-1.3691018-.423194-1.7057944-.261283-.3366925-.756437-.6441821-1.485461-.920751.35466-.0944801.645927-.2310467.876371-.4088409.328103-.2508016.582534-.5694571.761577-.9568253.180757-.3865093.270707-.8649219.270707-1.4352378 0-.4595166-.058253-.8443081-.175617-1.1526566-.261489-.6721232-.759871-1.2246816-1.400651-1.5529085-.340953-.1777942-.77614-.3083485-1.302991-.3925216-.52685-.0841731-1.177917-.1254008-1.954058-.1254008h-5.546921v11.3805514h3.59886v-3.9621497z')

        .s-partners__slide
          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 151 51', width='151', height='51')
            title Keightley
            path(fill='#8898aa', d='M7 11h137v30H7z')
            path(fill='#eef2f7', d='M106.8469479 18.98702561c0-1.10389396.8869351-1.98700914 2.0957241-1.98700914h12.007059v1.39848938h-10.79827c-.321854 0-.564346.22077879-.564346.44155759v5.29869106h11.362616v1.3978183h-11.362616v6.5495471c0 .2945955.242492.5153743.564346.5153743h10.79827v1.3984893h-12.007059c-1.127958 0-2.0957241-.8831151-2.0957241-1.9870091V18.98702561zM46.97258 33.9999835h2.9018284V17.00001647H46.97258V33.9999835zm5.8021871-16.99996703v1.39848938h6.3665336V33.9999835h2.9819244V18.39850585h6.7684835v-1.39848938H52.7747671zm18.7762773 0V33.9999835h3.0620205v-8.5365563h9.6710467v8.5365563h3.0612856V17.00001647h-3.0612856v7.06492133h-9.6710467v-7.06492133h-3.0620205zm51.1703526 0l6.850784 8.83182273v8.1681443h2.900358v-8.6097018L139 17.00001647h-1.692305l-5.640525 7.06492133-5.722091-7.06492133h-3.223682zm-97.5863799 0l-9.99216574 7.35884573 8.46078804 9.6411213h3.7872939l-8.8642076-10.0088623 9.1067002-6.99110473h-2.4984088zM12 33.9999835h2.57850489V17.00001647H12V33.9999835zm17.7284152-15.01295789c-.0023559-.52764421.226125-1.03429877.6346823-1.40740267.4085572-.3731039.9633555-.58175795 1.5411379-.57960647L43.9112943 17v1.39850585H33.0321935c-.3225887 0-.5643465.22077879-.5643465.44155759l.0808309 5.29869106h11.3618816v1.3978183H32.5486779v6.5495471c0 .2945955.2417578.5153743.4835156.5153743h10.8791008V34l-12.0070589-.0000165c-.5777824.0021515-1.1325807-.2065025-1.5411379-.5796064-.4085573-.3731039-.6370382-.8797585-.6346823-1.4074027V18.98702561zm62.8555394-1.98700914h2.8202808V32.0861199c0 .2945955.2424926.5153743.5643464.5153743h9.2668924V34l-10.4756813-.0000165c-.5777824.0021515-1.1325807-.2065025-1.541138-.5796064-.4085572-.3731039-.6370381-.8797585-.6346822-1.4074027l-.0000181-15.01295793z')

        .s-partners__slide
          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 151 51', width='151', height='51')
            title Tektronix
            path(d='M60.7419555 32.1437157c0 .5949519.3157744 1.1066277.8246174 1.3461538.3749821.1656937 1.7453401.1433723 1.7453401.1433723v1.3461538h-5.6144348c-1.8148448.001717-2.9826953-1.3255494-2.9826953-2.9721841l-.0042905-12.2544642 6.0348954-3.4701237-.0034323 4.4617102h2.574248v1.6371909h-2.574248v9.762191zM46.058445 20.7486264v1.1289491l.4487772.0326237c.3492396.0351992.5320112.4249656.5380178.6078296.0094389.1948833-.0145874.4352679-.2093721.6627748-.207656.2438187-.4376222.4266827-.4376222.4266827l-4.1290938 3.2632211L42.2631453 15h-8.1500691v1.3624657s1.3480479-.1450893 1.8320065.4352678c.3612528.4335508.3003289 1.3873627.3003289 1.3873627v13.6280906s.061782.9512363-.3003289 1.3847871c-.4839586.5812157-1.8320065.4352679-1.8320065.4352679v1.3504464h9.8387758v-1.3504464s-1.0030986.0180288-1.401249-.4352679c-.3140582-.3545673-.2865996-1.3847871-.2865996-1.3847871l.0060066-3.4460852 4.5916003 6.6183036 7.5854508-.0042926-.0017162-1.148695s-.9396005.0240384-1.8955046-1.0164835c-1.9813129-2.1557349-4.630214-6.2044987-5.7311341-7.2244162.0145874.0128777.8143204-.8662432 1.9898937-1.7582418 1.3214473-.9915865 2.3391333-1.6912775 4.0698861-1.8612637v-1.223386h-6.820041zm31.5070791 4.7081044l.2514183-4.7433036s-3.4443438-1.6234547-5.4084951 2.4648008l-.1141249-2.4381868h-7.7236021v1.5599245s1.1120751-.0738325 1.5368261.4352678c.3629689.4335508.2994708 1.4122596.2994708 1.4122596v7.6759959s.0634981.9280563-.2994708 1.3607486c-.4650808.5580358-1.5368261.4352679-1.5368261.4352679v1.3624657h9.9897984v-1.3624657s-1.390952.1124657-1.8414454-.4352679c-.3612528-.4395604-.2874577-1.409684-.2874577-1.409684l.0060066-5.3837569c.0205939-1.2680288.7362349-2.134272 2.0061972-2.134272 1.6320732-.0008585 3.1217047 1.2002061 3.1217047 1.2002061zm37.9418409 9.5389766l-8.689803-.001717v-1.3607486s.646994.0592376.979072-.2609891c.374124-.3631524.300329-1.5590659.300329-1.5590659v-6.0894574c.010297-.3056319.254851-2.5901442-1.881775-2.5884272-2.327978.0034341-2.13491 2.2819368-2.129761 2.5815591v6.095467s-.077228 1.0096154.284883 1.4491758c.372408.4507212 1.201316.3717377 1.201316.3717377v1.3650412h-9.6362682v-1.3650412s1.3454736.1459478 1.8302903-.4352679c.3621109-.4335508.2883158-1.3727679.2883158-1.3727679l.0120131-7.8854739s.061782-.9520947-.3003289-1.3873626c-.4590742-.5520261-1.8302903-.4352679-1.8302903-.4352679V20.754636H104.0348v1.5805288s1.366068-2.0252403 5.220575-2.0252403c4.897078 0 4.925394 2.8245192 4.925394 4.5664491l.006865 6.9368132s-.073795.9478022.288316 1.3847871c.261715.3185096.884683.4138049 1.033989.4395604l-.002574 1.3581731zm16.052153-6.0989011L125.346999 35l3.34309-.001717 4.30071-4.295158 3.07022 4.2925824H144V33.643544s-1.245078.1545329-1.832006-.4352679c-.197359-.1966003-4.721171-6.4277129-4.721171-6.4277129l6.117271-6.0216346-3.340516-.0042926-4.228631 4.2419299h.048911l-3.151738-4.2376373h-7.434428v1.3504464s.931878.0077266 1.487915.5331387c.422177.4000687.893264 1.090316.893264 1.090316l3.760976 5.1528159-.040329.0111607zM118.289269 15.209478h6.030605v3.568853h-6.030605v-3.568853zm-1.475902 18.4323489c.321781-.0197459.898413-.1193338 1.176431-.4532967.362111-.4326923.300329-1.3847871.300329-1.3847871V23.934581s.095247-.9830013-.300329-1.384787c-.472803-.4807693-1.169566-.4352679-1.169566-.4352679v-1.356456h7.499642v14.2410714h-7.501358l-.005149-1.3573146zM0 15.0068681v4.6025069s2.81708538.0085852 2.81965963-.001717c.09253067-.5636741.20933865-1.1230891.35009772-1.6766827.14158364-.5442995.45735806-.9211882 1.19016066-1.067136 1.33174429-.2627061 3.33107689-.2214973 3.33107689-.2214973l.00429041-.0060096.00257425 12.4330357s.01372932 1.9986264-.25914096 2.8150756c-.29947085.9014423-.69161463 1.4199862-1.390952 1.617445-.66844639.1888737-1.45616628.1373627-1.45616628.1373627v1.3590316H17.1290461v-1.3650412s-.7834295.0351991-1.4681794-.1373627c-.7062021-.1759959-1.0914812-.7160027-1.390952-1.617445-.2728703-.8164492-.259141-2.8159341-.259141-2.8159341V16.6363324s2.0001907-.0412088 3.3310769.2214973c.7328026.1450893 1.0460028.5228365 1.1875864 1.067136.1621776.6138392.2771607 1.2276785.352672 1.6766827.0017161.0077266 2.8428278.001717 2.8428278.001717V15L0 15.0068681z')
            path(d='M33.6823145 30.4198083c-.0077059 3.4530063-1.6944366 4.7980777-7.6442293 4.8074958C19.7012862 35.2375784 18 33.6407877 18 27.5293175c0-6.1140387 1.6824497-7.3503742 8.0886015-7.3503742 5.9994528.0642141 7.6082685 1.3955865 7.6082685 7.3486619l.0059935.9169773h-9.51162c-.0299673 3.4504378.221758 5.0412352 2.0429134 5.0412352 1.3159925 0 2.0754494-.4811777 2.0060965-3.0617284l5.4420611-.004281zm-7.8017717-8.6637667c-1.4692537 0-1.6721751 1.4486702-1.6473451 4.5232414l.0059935.5505289h3.2818471l.0077058-.5505289c.0239739-3.0745712-.1789475-4.5232414-1.6482013-4.5232414zm60.9449194 13.4472892c-6.1355899 0-8.2863856-1.9384097-8.2863856-7.722816 0-5.3220648 2.0840114-7.3255448 8.2863856-7.3255448h-.0265424c6.2040866 0 8.2846732 2.00348 8.2846732 7.3255448 0 5.7844063-2.1507957 7.722816-8.2846732 7.722816h.0265424zm-.0171241-1.7414864c1.8228678 0 2.0420572-1.4820615 2.0420572-4.9684591l.0051372-1.803132c-.0051372-3.4221836-.2209018-4.9693154-2.0437696-4.9693154-1.8228679 0-2.0386324 1.5471318-2.0420572 4.9693154l-.0051373 1.803132c-.004281 3.4367387.2191894 4.9684591 2.0437697 4.9684591zm36.8760429 3.2586516L109.379706 51h3.215063L126.9003 36.720496h-3.215919zm21.80763-13.7118513c0-1.4289778 1.078823-2.5052061 2.458174-2.5052061 1.366509 0 2.444476 1.0762283 2.444476 2.5052061 0 1.4538073-1.078823 2.5240423-2.444476 2.5240423-1.379351 0-2.458174-1.070235-2.458174-2.5240423zm2.458174 3.0266247c1.645633 0 3.049815-1.2765763 3.049815-3.0266247C151 21.2774325 149.594962 20 147.950185 20c-1.659332 0-3.063514 1.2774325-3.063514 3.0086447 0 1.7500484 1.405039 3.0266247 3.063514 3.0266247zm-.638731-2.786892h.608764l.916143 1.5103157h.59164l-.989777-1.5325766c.512013-.0642141.901588-.3364819.901588-.9580744 0-.6883752-.406699-.9906096-1.229516-.9906096h-1.324554v3.4812606h.524856v-1.5103157h.000856zm0-.446074v-1.0770845h.719215c.36817 0 .759457.0804817.759457.5094319 0 .5342613-.399849.5676526-.844222.5676526h-.63445z')
