mixin catalog()

  section.s-catalog
    .s-catalog__inner
      .s-catalog__content
        .row
          .col-xs-12.col-md-6

            +catalog-card('Анализаторы сигналов', 'img/promo-slider-img-example.png', '/product-category.html')
              +catalog-card-category('Аудиоанализаторы', '/')
              +catalog-card-category('Анализаторы спектра', '/')
              +catalog-card-category('Анализаторы АФУ', '/')
              +catalog-card-category('Анализаторы модуляции', '/')
              +catalog-card-category('Анализаторы Wi-Fi, WiMAX, LTE', '/')
              +catalog-card-category('Тестовые приёмники', '/')
              +catalog-card-category('Специальное программное обеспечение', '/')

            +catalog-card('Безэховые камеры и экранкамеры', 'img/promo-slider-img-example.png', '/')
              +catalog-card-category('Радиопоглощающие материалы', '/')
              +catalog-card-category('Безэховые камеры', '/')
              +catalog-card-category('Экранирующие материалы', '/')

          .col-xs-12.col-md-6

            +catalog-card('Измерители неэлекрических величин', 'img/promo-slider-img-example.png', '/')
              +catalog-card-category('Аудиоанализаторы', '/')
              +catalog-card-category('Анализаторы спектра', '/')
              +catalog-card-category('Анализаторы АФУ', '/')
              +catalog-card-category('Анализаторы модуляции', '/')
              +catalog-card-category('Анализаторы Wi-Fi, WiMAX, LTE', '/')
              +catalog-card-category('Тестовые приёмники', '/')
              +catalog-card-category('Специальное программное обеспечение', '/')
              +catalog-card-category('Радиопоглощающие материалы', '/')
              +catalog-card-category('Безэховые камеры', '/')
              +catalog-card-category('Экранирующие материалы', '/')
              +catalog-card-category('Анализаторы модуляции', '/')
              +catalog-card-category('Анализаторы Wi-Fi, WiMAX, LTE', '/')
              +catalog-card-category('Тестовые приёмники', '/')
              +catalog-card-category('Специальное программное обеспечение', '/')


mixin catalog-card(title, imgSrc, href)

  //- Use:
    +catalog-card('Анализаторы сигналов', 'img/promo-slider-img-example.png')

  .s-catalog-card
    .s-catalog-card__inner
      .s-catalog-card__cover
        img(src=imgSrc, alt='')
      .s-catalog-card__content
        h3.s-catalog-card__title
          a(href=href, data-count='100500') #{title}
        ul.s-catalog-card__category-list
          block

mixin catalog-card-category(categoryName, href)

  //- Use:
    +catalog-card-category('Аудиоанализаторы', '/')

  li: a(href=href, data-count='28') #{categoryName}
