mixin mobile-nav()

  .s-mobile-nav
    .s-mobile-nav__inner
      .s-mobile-nav__nav-block
        ul.s-mobile-nav__list
          li.s-mobile-nav__item.s-mobile-nav__item--catalog-link
            a.s-mobile-nav__link(href='/catalog.html') Каталог
          li.s-mobile-nav__item.s-mobile-nav__item--has-child
            svg(width="11" height="8"): use(xlink:href="#small-arrow")
            a.s-mobile-nav__link(href='#') О компании
            ul.s-mobile-nav__sublist
              li.s-mobile-nav__sublist-item: a(href='#') Сертификаты
              li.s-mobile-nav__sublist-item: a(href='#') Награды и дипломы
              li.s-mobile-nav__sublist-item: a(href='#') О нас
              li.s-mobile-nav__sublist-item: a(href='#') Благодарности и отзывы
              li.s-mobile-nav__sublist-item: a(href='#') Реквизиты
              li.s-mobile-nav__sublist-item: a(href='#') Контакты
          li.s-mobile-nav__item.s-mobile-nav__item--has-child
            svg(width="11" height="8"): use(xlink:href="#small-arrow")
            a.s-mobile-nav__link(href='#') Услуги
            ul.s-mobile-nav__sublist
              li.s-mobile-nav__sublist-item: a(href='#') Поверка
              li.s-mobile-nav__sublist-item: a(href='#') Ремонт
              li.s-mobile-nav__sublist-item: a(href='#') Тендеры
          li.s-mobile-nav__item.s-mobile-nav__item--has-child
            svg(width="11" height="8"): use(xlink:href="#small-arrow")
            a.s-mobile-nav__link(href='#') Информация
            ul.s-mobile-nav__sublist
              li.s-mobile-nav__sublist-item: a(href='#') Статьи
              li.s-mobile-nav__sublist-item: a(href='#') Каталоги
              li.s-mobile-nav__sublist-item: a(href='#') Реестр
              li.s-mobile-nav__sublist-item: a(href='#') ПО
              li.s-mobile-nav__sublist-item: a(href='#') Акции
              li.s-mobile-nav__sublist-item: a(href='#') Выставки
          li.s-mobile-nav__item.s-mobile-nav__item--has-child
            svg(width="11" height="8"): use(xlink:href="#small-arrow")
            a.s-mobile-nav__link(href='#') Как купить
            ul.s-mobile-nav__sublist
              li.s-mobile-nav__sublist-item: a(href='#') Условия оплаты
              li.s-mobile-nav__sublist-item: a(href='#') Даставка
              li.s-mobile-nav__sublist-item: a(href='#') Гарантия
              li.s-mobile-nav__sublist-item: a(href='#') Аренда
          li.s-mobile-nav__item
            a.s-mobile-nav__link(href='#') Новости
          li.s-mobile-nav__item
            a.s-mobile-nav__link(href='/list-of-manufacturers.html') Производители
          li.s-mobile-nav__item
            a.s-mobile-nav__link(href='#') Контакты

      .s-mobile-nav__contact-block
        ul
          li
            a(href='tel:+78126004889')
              svg(width="11" height="12"): use(xlink:href="#phone--alternative")
              | +7 812 600 4889
          li
            a(href='mailto:info@radar1.ru')
              svg(width="11" height="12"): use(xlink:href="#mail--alternative")
              | info@radar1.ru