.s-mobile-nav {
  background-color: @bg-color--base;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 57px;
  left: 0;
  right: 0;
  bottom: 0;
  transition: transform .5s cubic-bezier(.61,.74,.32,.98);
  transform: translate3d(0,-100%,0);
  transform-origin: top center;
  z-index: 998;
  padding: 15px;
  padding-top: 0;

  @media (min-width: @screen-md) {
    display: none;
  }

  &__inner {
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    @media (min-width: @screen-sm) {
      max-width: 750px;
      margin: auto;
      padding: 15px;
    }
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 0.075em;
    font-weight: 500;
    margin: 0;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    opacity: 0;
    transition: opacity 0.1s ease-in;

    &:not(:last-child) {
      border-bottom: 1px solid @border-color;
    }

    &--catalog-link {
      color: @accent-color-main;
      font-weight: 700;
    }

    &--has-child {
      position: relative;

      svg {
        position: absolute;
        top: 1.25rem;
        right: 1.25rem;
        fill: none;
        width: 26px;
        height: 14px;
        stroke: currentColor;
        cursor: pointer;
        stroke-width: 1;
        transform: rotate3d(0,0,1,90deg);
        transform-origin: center;
        transition: transform .1s cubic-bezier(.215,.61,.355,1);
      }
    }

    &--sublist-is-open {

      svg {
        transform: rotate3d(0,0,1,-90deg);
      }
    }
  }

  &__link {
    display: block;
    color: currentColor;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      top: -0.5rem;
      bottom: -0.5rem;
    }
  }

  &__sublist {
    max-height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-weight: 500;
    opacity: 0.5;
    letter-spacing: normal;
    text-transform: none;

    &.is-open {
      max-height: 100%;
      padding-top: @line-height / 2;
    }
  }

  &__sublist-item {
    margin: 0;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;

    a {
      color: currentColor;
      display: block;
    }
  }

  &__contact-block {
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
    color: @accent-color-main;

    ul {
      list-style-type: none;
      padding-left: 0;
      margin: 0;

      li {
        font-weight: 700;
        margin: 0;
        opacity: 0;
        transition: opacity 0.1s ease-in;

        svg {
          vertical-align: middle;
          margin-right: 1rem;
          transform: translate3d(0,-1px,0);
          fill: currentColor;
        }

        a {
          display: inline-block;
          color: currentColor;
          padding-top: 0.25rem;
          padding-bottom: 0.25rem;
        }
      }
    }
  }

  &--is-active {
    transform: translate3d(0,0,0);

    .s-mobile-nav__item {
      opacity: 1;

      &:nth-child(1) {
        transition-delay: 0.1s;
      }

      &:nth-child(2) {
        transition-delay: 0.15s;
      }

      &:nth-child(3) {
        transition-delay: 0.25s;
      }

      &:nth-child(4) {
        transition-delay: 0.3s;
      }

      &:nth-child(5) {
        transition-delay: 0.35s;
      }

      &:nth-child(6) {
        transition-delay: 0.4s;
      }

      &:nth-child(7) {
        transition-delay: 0.45s;
      }

      &:nth-child(8) {
        transition-delay: 0.5s;
      }
    }

    .s-mobile-nav__contact-block ul li {
      opacity: 1;

      &:nth-child(1) {
        transition-delay: 0.55s;
      }

      &:nth-child(2) {
        transition-delay: 0.6s;
      }
    }
  }
}