.s-product-category-card {
  min-height: 6rem;
  width: 100%;
  position: relative;
  border-radius: @border-radius;
  overflow: hidden;
  border: 1px solid @border-color;
  background: @main-gradient;
  color: @text-color;
  transition: box-shadow 0.25s ease-in-out 0s;

  &::after {
    display: table;
    clear: both;
    content: '';
  }

  &:hover {
    box-shadow: @box-shadow;
  }

  &__cover,
  &__info {
    float: left;
  }

  &__cover {
    width: 40%;
    height: 8rem;
    padding: 1rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: 50% 50%;
    }
  }

  &__info {
    width: 60%;
    padding: 1rem;
  }

  &__title {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    hyphens: auto;
    color: @accent-color-main;
    letter-spacing: 0.025em;
  }
}