.s-catalog-tabs {
  text-align: right;
  transform: translate3d(0,-0.3rem,0);

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    margin: 0;
    margin-bottom: 0.25rem;

    @media (min-width: @screen-md) {
      display: inline-block;
      margin-bottom: 0;
    }
  }

  &__link {
    color: currentColor;
    transition: all 0s ease-in-out 0s;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.05em;
    font-size: 0.75rem;
    line-height: 1.75rem;
    padding: 0.25rem 0.75rem;
    cursor: pointer;
    position: relative;
    background: @bg-color--muted;
    transition: all 0.25s ease-in-out 0s;
    border-radius: @border-radius;
    display: block;
    width: 100%;

    @media (min-width: @screen-md) {
      width: auto;
    }

    &:hover,
    &:active,
    &:focus {
      background-color: @accent-color-main;
      color: @text-color--lightest;
    }

    svg {
      margin-right: 0.75rem;
      vertical-align: middle;
      transform: translate3d(0,-1px,0);
      fill: currentColor;
    }
  }
}