mixin catalog-tabs()

  .s-catalog-tabs
    ul.s-catalog-tabs__list
      li.s-catalog-tabs__item
        button.s-catalog-tabs__link(type='button')
          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 84 84', width='14', height='14')
            rect(width='38', height='38', rx='8')
            rect(width='38', height='38', x='46', rx='8')
            rect(width='38', height='38', y='46', rx='8')
            circle(cx='65', cy='65', r='19')
          | По категориям
      li.s-catalog-tabs__item
        button.s-catalog-tabs__link(type='button')
          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 55 55', width='14', height='14')
            path(d='M40.3 47.3l-1.4 1.4-3.7 3.7c-1.1258112 1.1297271-2.6550911 1.7647314-4.25 1.7647314S27.8258112 53.5297271 26.7 52.4L2.2 27.9c-.99207808-.9715433-1.53546067-2.311887-1.5-3.7l.4-18.6C1.15316141 2.91613329 3.31613329.75316141 6 .7L24.6.3h.1c1.3188463.01878524 2.5768477.55792868 3.5 1.5l24.6 24.5c1.1297271 1.1258112 1.7647314 2.6550911 1.7647314 4.25S53.9297271 33.6741888 52.8 34.8L40.3 47.3z')
          | По производителю