.s-logo {
  display: inline-block;
  white-space: nowrap;

  img {
    display: block;
  }

  svg {
    display: inline-block;
    vertical-align: middle;

    @media (min-width: @screen-sm) {
      width: 206px;
      height: 40px;
    }
  }
}