mixin logo(href, mods)

  //- Param:
    href  {string} - link
    mods  {string} - modifiers

  //- Use:
    +logo('/')
      img(src='img/logo.svg', alt='Logo', width='64', height='15')
    +logo(false, 'mod')
      img(src='img/logo.svg', alt='Logo', width='64', height='15')
  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-logo--' + modsList[i].trim();
      }
    }

  a.s-logo(class=allMods, href=href)&attributes(attributes)
    svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 206 40', width='164', height='40')
      g(fill='#24b47e', fill-rule='nonzero')
        path(d='M39.58 26.44c1.4400572-4.1725784 1.4400572-8.7074216 0-12.88v12.88M22.23 39.89h.7V.09c-.23 0-.46-.07-.7-.09v39.89M23.78 39.78l.7-.14V.36l-.7-.14v39.56M26.94 39l.7-.25V1.3l-.7-.25V39M25.36 39.43l.7-.19V.77l-.7-.2v38.86M28.46 38.36l.7-.32V2l-.7-.32v36.68M30.07 37.57l.71-.4V2.83l-.71-.4v35.14M31.51 36.71l.7-.48V3.77c-.23-.17-.47-.33-.7-.48v33.42M34.57 34.26c.34-.33.67-.68 1-1V6.77c-.32-.35-.65-.7-1-1v28.49M32.92 35.7c.32-.26.64-.52.94-.79V5.09c-.3-.28-.62-.54-.94-.79v31.4M36.25 32.41c.36-.43.69-.88 1-1.35V8.93c-.32-.46-.65-.91-1-1.35v24.83M37.9 30a18.85999882 18.85999882 0 0 0 1.18-2.33V12.28A18.0499967 18.0499967 0 0 0 37.9 10v20M0 20c-.00172563 2.1853524.36334537 4.3554967 1.08 6.42V13.57C.36334437 15.6379559-.00171068 17.8113854 0 20M17.72.09v39.8h.7V0c-.23 0-.47.05-.7.09M16.17.36v39.28l.7.14V.22l-.7.14M13 1.31v37.38l.7.26V1.05l-.7.26M14.59.77v38.47l.7.19V.57l-.7.2M11.49 2v36l.7.32V1.64l-.7.33M9.88 2.83v34.34c.23.13.46.27.7.39V2.43l-.7.4M8.44 3.77v32.46l.7.48V3.29l-.7.48M5.09 6.78v26.44c.32.36.65.71 1 1V5.74c-.35.33-.68.68-1 1M6.79 5.09v29.82c.3.27.62.53.94.78V4.3c-.32.26-.64.52-.94.79M3.4 8.94v22.12c.31.46.64.91 1 1.35V7.59a14.72000084 14.72000084 0 0 0-1 1.35M1.57 12.29V27.7A18.8399975 18.8399975 0 0 0 2.75 30V10a20.35999381 20.35999381 0 0 0-1.18 2.33')
        path(d='M17.51 14.57c-.4118802 1.3735739-1.2573647 2.5768983-2.41 3.43l-14.6.11L.58 23s7.91-.12 13.08 0c3.57.09 4.4-2.55 4.57-4.19-.07 4.41-.27 19 .14 18.51.77-.84 3.55-12.12 4.16-13.3.61-1.18 3.21-.68 3.21-.68h14.38v-5.4s-13.31-.26-15.61 0c-2.75.32-3.51 4.9-3.51 4.9s.16-19.26-.45-19.49c-.58 0-1.82 8.05-3 11.22')
      g(fill='#525f7f')
        path(d='M112.59 32.82h-10.78l-.81-2.56H90l-.92 2.56H78.41l4.39-10.16c-2.0836491.8051804-4.3071638 1.1859657-6.54 1.12H67v9H57V7.08h19.26c3.64 0 6.45.73 8.43 2.19 1.1328749.82632952 1.9985878 1.96670642 2.49 3.28l2.36-5.47h12.66l10.39 25.74zM76.76 15.37c.0972664-.8559702-.2877734-1.69535687-1-2.18-1.048996-.4640696-2.1959616-.66324326-3.34-.58H67v5.56h5.46c1.1167053.087508 2.2381045-.0942479 3.27-.53.7383837-.5065595 1.1350392-1.38074198 1.03-2.27zm22 8.58l-3.09-9.07L92.38 24l6.38-.05zM141.7 32.82h-28.12L111.15 27h1.91l8.64-20h12.66l8.07 20h1.86l-2.59 5.82zM130.89 24l-3.09-9.07-3.26 9.07h6.35zM205.51 15.41c.006556.88424547-.12158 1.7643335-.38 2.61l-.93 1.89c-.451919.6423921-1.005905 1.2065112-1.64 1.67-2 1.46-4.77 2.2-8.44 2.2h-9.29v9h-18.71l-.85-2.56h-11l-.93 2.56h-10.62l11.14-25.7h12.66l8.35 20.7V7.08h19.25c3.64 0 6.45.73 8.43 2.19 1.951479 1.42279561 3.062343 3.7270878 2.96 6.14zm-10.89 0c.097266-.8559702-.287773-1.69535687-1-2.18-1.048996-.4640696-2.195962-.66324326-3.34-.58h-5.46v5.56h5.46c1.113386.0858925 2.231164-.0958322 3.26-.53.773121-.4992441 1.192672-1.39661896 1.08-2.31v.04zM163 24l-3-9.12-3.31 9.12H163z')