.s-product-card {
  display: inline-block;
  max-width: 16rem;
  background-color: @bg-color--default;
  margin-bottom: 15px;
  margin-right: 15px;
  border: 1px solid @border-color;

  &__inner {
    padding: 1rem;

    &::after {
      content: '';
      display: table;
      clear: both;
    }
  }

  &__cover {
    height: 160px;
    padding: 1rem;

    > img {
      object-fit: contain;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    text-align: center;
    color: @text-color--lighter;
  }

  &__title {
    font-weight: 500;
    font-size: 1rem;
    margin: 0;
    margin-bottom: 1rem;
  }

  &__features {
    display: none;
    text-align: left;
    margin-bottom: 1rem;
    font-size: 0.875rem;

    dl, dt, dd {
      display: inline-block;
      margin: 0;
    }

    dl {
      margin-right: 1rem;
    }
  }

  &--text-with-covers,
  &--text-only {
    max-width: 100%;
    width: 100%;
    margin-right: 0;

    .s-product-card__features {
      display: block;
    }

    .s-product-card__inner {
      padding: 0;
    }

    .s-product-card__cover,
    .s-product-card__info {
      float: left;
    }

    .s-product-card__cover {
      width: 30%;
    }

    .s-product-card__info {
      width: 70%;
      text-align: left;
      padding: 1rem;
      padding-top: 2rem;
    }
  }

  &--text-only {

    .s-product-card__features {
      display: block;
      float: right;
    }

    .s-product-card__cover {
      display: none;
    }

    .s-product-card__info {
      width: 100%;
    }
  }

  &--promo {
    background-color: transparent;
    border: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}