mixin product-card(mods, imageSrc)

  //- Param:
    mods {string}     - modifiers

  //- Use:
    +product-card()

  -
    // Modifiers
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods.trim() + ' s-product-card--' + modsList[i].trim();
      }
    }

  .s-product-card(class=allMods)&attributes(attributes)
    .s-product-card__inner
      .s-product-card__cover
        img(src=imageSrc, alt="")
      .s-product-card__info
        h4.s-product-card__title Signal Quality Analyzers MP1800A
        .s-product-card__features
          dl
            dt Цена:
            dd 13000
          dl
            dt Артикул:
            dd U8903B
          dl
            dt Производитель:
            dd Tektronix
        +btn('Подробнее', 'secondary')
