mixin page-footer(mods)

  //- Param:
    mods  {string} - modifires

  //- Use:
    +page-footer()
      div footer content

  -
    // Modifires
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-footer--' + modsList[i].trim();
      }
    }

  footer.s-page-footer(class=allMods, role='contentinfo')&attributes(attributes)
    .s-page-footer__inner.container
      .row
        .col-xs-12.col-md-8.col-md-push-4
          .s-page-footer__nav
            .row
              .col-xs-12.col-md-6
                .row
                  .s-page-footer__nav-group.col-xs-6.col-lg-7
                    h3.s-page-footer__subtitle О компании
                    ul.s-page-footer__nav-list
                      li: a(href='#') Сертификаты
                      li: a(href='#') Награды и дипломы
                      li: a(href='/about-company.html') О нас
                      li: a(href='#') Благодарности и отзывы
                      li: a(href='#') Реквизиты
                      li: a(href='/list-of-manufacturers.html') Производители
                  .s-page-footer__nav-group.col-xs-6.col-lg-5
                    h3.s-page-footer__subtitle Услуги
                    ul.s-page-footer__nav-list
                      li: a(href='#') Поверка
                      li: a(href='#') Ремонт
                      li: a(href='#') Тендеры
              .col-xs-12.col-md-6
                .row
                  .s-page-footer__nav-group.col-xs-6
                    h3.s-page-footer__subtitle Информация
                    ul.s-page-footer__nav-list
                      li: a(href='#') Статьи
                      li: a(href='#') Реестр
                      li: a(href='#') ПО
                      li: a(href='#') Акции
                      li: a(href='#') Выставки
                      li: a(href='/news-list.html') Новости
                  .s-page-footer__nav-group.col-xs-6
                    h3.s-page-footer__subtitle Как купить
                    ul.s-page-footer__nav-list
                      li: a(href='#') Условия оплаты
                      li: a(href='#') Доставка
                      li: a(href='#') Гарантия
                      li: a(href='#') Аренда
        .col-xs-12.col-md-4.col-md-pull-8
          h3.s-page-footer__subtitle Контакты
          address.s-page-footer__address
            p Санкт-Петербург, ул. Краснопутиловская,<br> дом 25, лит. А, пом. 9Н
            p Пн. – Чт.: с 9:15 до 18:00<br> Пт: с 9:15 до 15:30<br> Сб, Вс – выходной

      .row
        .col-xs-12.col-sm-10
          ul.s-page-footer__contact-list
            li
              a(href='tel:+78126004889')
                svg(width="11" height="12"): use(xlink:href="#phone--alternative")
                | +7 812 600 4889
            li
              a(href='mailto:info@radar1.ru')
                svg(width="11" height="12"): use(xlink:href="#mail--alternative")
                | info@radar1.ru
            li
              button(type='button')
                svg(viewBox='0 0 170 42', width='170', height='42')
                  rect(x='2', y='2' width='166', height='38', rx='2', ry='2')
                | Заказать звонок
        .col-xs-12.col-sm-2
          .s-page-footer__copyright &#169; Radar


