.s-page-footer {
  background-color: @bg-color--base;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: @text-color--lighter;
  border-top: 1px solid @border-color;

  @media (min-width: @screen-md) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  &__subtitle {
    color: #6b7c93;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.05em;
    line-height: 1.45rem;
    margin-top: 0;
    margin-bottom: 0.725rem;
  }

  &__nav {

    @media (min-width: @screen-sm) {
      margin-bottom: 5rem;
    }
  }

  &__nav-group {
    margin-bottom: @line-height * 2;

    @media (min-width: @screen-md) {
      margin-bottom: 0;
    }
  }

  &__nav-list {
    list-style-type: none;
    margin: 0;
    padding-left: 0;

    li {
      margin-bottom: 0;

      a {
        display: inline-block;
        position: relative;
        color: currentColor;
        padding-top: 0.125rem;
        padding-bottom: 0.125rem;
        font-weight: 400;
        opacity: 0.8;

        &:hover,
        &:active {
          color: @text-color;
          opacity: 1;
        }
      }
    }
  }

  &__address {
    padding-top: 0.18125rem;
    margin-bottom: @line-height * 2;
    opacity: 0.8;

    p {
      margin: 0;

      &:not(:last-child) {
        margin-bottom: @line-height;
      }
    }
  }

  &__contact-list {
    color: @alternative-color;
    list-style-type: none;
    padding-left: 0;
    margin: 0;

    li {
      margin-bottom: 0;
      display: inline-block;

      &:not(:last-child) {
        margin-right: 3rem;
      }

      svg {
        vertical-align: middle;
        margin-right: 1rem;
        transform: translate3d(0,-1px,0);
      }

      a,
      button {
        display: inline-block;
        line-height: @line-height;
        position: relative;
        font-weight: 500;
        color: currentColor;
      }

      button {
        max-width: 300px;
        cursor: pointer;
        padding: 0 1.15rem 0.125rem;
        position: relative;
        width: 170px;
        height: 42px;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        margin-top: 1rem;

        @media (min-width: @screen-sm) {
          margin-top: 0;
        }

        svg {
          margin: 0;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          fill: none;

          rect {
            stroke: currentColor;
            stroke-width: 1;
            stroke-dasharray: 418;
            transition: 0.75s;

            @media (min-width: @screen-sm) {
              stroke-dashoffset: 418;
            }
          }
        }

        &:hover,
        &:focus {

          svg {

            rect {
              stroke-dashoffset: 0;
            }
          }
        }
      }
    }
  }

  &__copyright {
    opacity: 0.3;
    margin-top: 2rem;
    line-height: 42px;
    vertical-align: middle;
    display: inline-block;

    @media (min-width: @screen-sm) {
      margin-top: 0;
    }
  }
}