mixin view-types()

  //- Use:
    view-types()

  .s-view-types
    ul.s-view-types__list
      li.s-view-types__item
        button.s-view-types__btn.s-view-types__btn--large-covers.s-view-types__btn--is-active
          svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 100 100', width='18', height='18')
            title Large Covers
            path(fill-rule='evenodd', d='M87.5 92.5h-26c-2.762 0-5-2.238-5-5v-26c0-2.762 2.238-5 5-5h26c2.762 0 5 2.238 5 5v26c0 2.762-2.238 5-5 5zm0-48h-26c-2.762 0-5-2.238-5-5v-26c0-2.761 2.238-5 5-5h26c2.762 0 5 2.239 5 5v26c0 2.761-2.238 5-5 5zm-48 48h-26c-2.761 0-5-2.238-5-5v-26c0-2.762 2.239-5 5-5h26c2.762 0 5 2.238 5 5v26c0 2.762-2.238 5-5 5zm0-48h-26c-2.761 0-5-2.238-5-5v-26c0-2.761 2.239-5 5-5h26c2.762 0 5 2.239 5 5v26c0 2.761-2.238 5-5 5z', clip-rule='evenodd')

      li.s-view-types__item
        button.s-view-types__btn.s-view-types__btn--text-with-covers
          svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 100 100', width='18', height='18')
            title Text with Covers
            path(fill-rule='evenodd', d='M87.5 92.5h-26c-2.762 0-5-2.238-5-5v-2c0-2.762 2.238-5 5-5h26c2.762 0 5 2.238 5 5v2c0 2.762-2.238 5-5 5zm0-24h-26c-2.762 0-5-2.238-5-5v-2c0-2.762 2.238-5 5-5h26c2.762 0 5 2.238 5 5v2c0 2.762-2.238 5-5 5zm0-24h-26c-2.762 0-5-2.238-5-5v-2c0-2.762 2.238-5 5-5h26c2.762 0 5 2.238 5 5v2c0 2.761-2.238 5-5 5zm0-24h-26c-2.762 0-5-2.238-5-5v-2c0-2.761 2.238-5 5-5h26c2.762 0 5 2.239 5 5v2c0 2.761-2.238 5-5 5zm-48 72h-26c-2.761 0-5-2.238-5-5v-26c0-2.762 2.239-5 5-5h26c2.762 0 5 2.238 5 5v26c0 2.762-2.238 5-5 5zm0-48h-26c-2.761 0-5-2.238-5-5v-26c0-2.761 2.239-5 5-5h26c2.762 0 5 2.239 5 5v26c0 2.761-2.238 5-5 5z', clip-rule='evenodd')

      li.s-view-types__item
        button.s-view-types__btn.s-view-types__btn--text-only
          svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 100 100', width='18', height='18')
            title Text Only
            path(fill-rule='evenodd', d='M87.5 92.5h-74c-2.761 0-5-2.238-5-5v-2c0-2.762 2.239-5 5-5h74c2.762 0 5 2.238 5 5v2c0 2.762-2.238 5-5 5zm0-24h-74c-2.761 0-5-2.238-5-5v-2c0-2.762 2.239-5 5-5h74c2.762 0 5 2.238 5 5v2c0 2.762-2.238 5-5 5zm0-24h-74c-2.761 0-5-2.238-5-5v-2c0-2.762 2.239-5 5-5h74c2.762 0 5 2.238 5 5v2c0 2.761-2.238 5-5 5zm0-24h-74c-2.761 0-5-2.238-5-5v-2c0-2.761 2.239-5 5-5h74c2.762 0 5 2.239 5 5v2c0 2.761-2.238 5-5 5z', clip-rule='evenodd')
