.s-view-types {

  @media (min-width: @screen-sm) {
    text-align: right;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    transform: translate3d(0,-0.125rem,0);
  }

  &__item {
    margin: 0;
    display: inline-block;
    vertical-align: top;
  }

  &__btn {
    display: block;
    color: currentColor;
    transition: all 0s ease-in-out 0s;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.05em;
    font-size: 0.75rem;
    line-height: 2rem;
    cursor: pointer;
    position: relative;
    background: @bg-color--muted;
    transition: all 0.25s ease-in-out 0s;
    border-radius: @border-radius;
    padding: 0;
    width: 2rem;
    height: 2rem;

    &--is-active,
    &:hover,
    &:active,
    &:focus {
      background-color: @accent-color-main;
      color: @text-color--lightest;
    }

    svg {
      vertical-align: middle;
      transform: translate3d(0,-1px,0);
      fill: currentColor;
    }
  }
}