mixin product-list()

  .s-product-list
    +product-card('text-with-covers', 'img/promo-slider-img-example.png')
    +product-card('text-with-covers', 'img/promo-slider-img-example.png')
    +product-card('text-only', 'img/promo-slider-img-example.png')
    +product-card('text-only', 'img/promo-slider-img-example.png')
    +product-card('', 'img/promo-slider-img-example.png')