.s-big-quote {
  text-indent: -0.45em;
  border-top: 1px solid @border-color;
  border-bottom: 1px solid @border-color;
  margin: 0;
  margin-bottom: @line-height;
  padding-top: @line-height;
  padding-bottom: @line-height;
}