mixin special-offers-announcement()

  .s-special-offers-announcement.s-section
    header.s-special-offers-announcement__header
      h4.s-special-offers-announcement__title Акции
    .s-special-offers-announcement__content
      +owl-carousel('s-special-offers-announcement-slider').s-main-slider
        .s-special-offers-announcement__item
          img(src='https://images.unsplash.com/photo-1506399558188-acca6f8cbf41?ixlib=rb-0.3.5&s=864451423fe543df407bbcae1d555f21&auto=format&fit=crop&w=2039&q=80', alt='')
        .s-special-offers-announcement__item
          img(src='https://images.unsplash.com/photo-1506399558188-acca6f8cbf41?ixlib=rb-0.3.5&s=864451423fe543df407bbcae1d555f21&auto=format&fit=crop&w=2039&q=80', alt='')
        .s-special-offers-announcement__item
          img(src='https://images.unsplash.com/photo-1506399558188-acca6f8cbf41?ixlib=rb-0.3.5&s=864451423fe543df407bbcae1d555f21&auto=format&fit=crop&w=2039&q=80', alt='')