.s-special-offers-announcement {

  &__header {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  }

  &__title {
    font-size: 0.875rem;
    color: @accent-color-main;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
    position: relative;
    padding-left: 1.75rem;
    display: inline-block;
    line-height: 1.3em;

    &::before {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      background-image: data-uri('image/svg+xml;charset=UTF-8', '../blocks/special-offers-announcement/img/special-offers-announcement-title-icon.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      width: 18px;
      height: 17px;
    }
  }

  &__item {
    height: 16rem;
    width: 100%;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::after {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.3;
      background-image: linear-gradient(-120deg, #8e9eab, #eef2f3);
    }
  }
}