.s-news-list {
  padding-top: 2rem;

  @media (min-width: @screen-sm) {
    margin-bottom: 0;
    padding: 2rem;
  }

  @media (min-width: @screen-md) {}

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {

      a {
        color: currentColor;
        display: block;
        margin-bottom: 2rem;
        border-bottom: 1px solid @border-color;
        position: relative;

        &::after {
          position: absolute;
          content: '';
          bottom: -1px;
          left: 0;
          width: 0;
          height: 1px;
          background-color: @accent-color-main;
          display: block;
          transition: all 0.25s ease-in-out;
        }

        &:hover {

          &::after {
            width: 25%;
          }
        }
      }
    }
  }
}