mixin news-list()

  section.s-news-list.s-section
    h2.s-news-list__title.s-main-subtitle Новости
    ul.s-news-list__list
      li: a(href="/news-item.html")
        article.s-news-brief
          .s-news-brief__cover
            img(src='img/promo-slider-img-example.png', alt='')
          .s-news-brief__info
            time(datetime='2018-05-15') 15.05.2018
            h3.s-news-brief__title Компания Keysight Technologies представила новейшие решения для автомобилестроителей на выставке Automotive Testing Expo 2017
            p.s-news-brief__desc Компания Keysight Technologies представила новейшие решения для автомобилестроителей на выставке Automotive Testing Expo 2017.
      li: a(href="/news-item.html")
        article.s-news-brief
          .s-news-brief__cover
            img(src='img/promo-slider-img-example.png', alt='')
          .s-news-brief__info
            time(datetime='2018-05-15') 17.05.2018
            h3.s-news-brief__title Решения для измерения базовых станций 5G
            p.s-news-brief__desc Компания Keysight Technologies, Inc. объявила о выпуске решения для измерения, анализа и визуализации покрытия базовых станций 5G. Программное обеспечение Nemo Outdoor компании Keysight в сочетании с ручными анализаторами ВЧ и СВЧ диапазонов FieldFox позволяет операторам мобильной связи и производителям сетевого оборудования измерять параметры радиосигналов и зоны покрытия систем 5G.
      li: a(href="/news-item.html")
        article.s-news-brief
          .s-news-brief__cover
            img(src='img/promo-slider-img-example.png', alt='')
          .s-news-brief__info
            time(datetime='2018-05-15') 01.05.2018
            h3.s-news-brief__title B&K Precision представила новую серию програмируемых источников
            p.s-news-brief__desc Компания B&K Precision представила новую серию програмируемых источников питания переменного и постоянного тока 9830.
      li: a(href="/news-item.html")
        article.s-news-brief
          .s-news-brief__cover
            img(src='img/promo-slider-img-example.png', alt='')
          .s-news-brief__info
            time(datetime='2018-05-15') 15.04.2018
            h3.s-news-brief__title Компания Keysight Technologies представила новейшие решения для автомобилестроителей на выставке Automotive Testing Expo 2017
            p.s-news-brief__desc Компания Keysight Technologies представила новейшие решения для автомобилестроителей на выставке Automotive Testing Expo 2017.
