.s-main-slider {

  > .owl-nav [class*='owl-'] {
    margin: 0;

    &:hover {
      background: none;
    }
  }

  > .owl-nav {
    position: relative;

    &::after {
      display: table;
      clear: both;
      content: '';
    }

    &::before {
      position: absolute;
      content: '';
      background-color: white;
      z-index: 10;
      width: 1px;
      top: 0;
      left: 50%;
      height: 100%;
    }

    button.owl-prev,
    button.owl-next {
      background-color: @bg-color--muted;
      border-radius: 0;
      opacity: 0.5;
      transition: opacity 0.25s ease-in-out 0s;

      &:hover {
        background-color: @bg-color--muted;
        opacity: 0.75;
      }
    }

    button.owl-prev {
      border-top-left-radius: @border-radius;
      border-bottom-left-radius: @border-radius;
    }

    button.owl-next {
      border-top-right-radius: @border-radius;
      border-bottom-right-radius: @border-radius;
    }
  }

  .owl-prev, .owl-next {
    float: left;
    width: 50%;
    text-align: center;

    svg {
      padding: 5px;
      vertical-align: middle;

      polyline {
        transition-property: all;
        transition-duration: .3s;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        stroke-width: 5;
      }
    }

    &:hover,
    &:focus {

      svg polyline {
        stroke-width: 7;
      }
    }

    &:active {

      svg polyline {
        stroke-width: 9;
        transition-property: all;
        transition-duration: .15s;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }
  }

  .owl-next {

    svg {
      transform: rotate3D(0, 1, 0, 180deg);
    }
  }
}