.s-promo-slider {
  padding-bottom: 30px;
  border-bottom: 1px solid @border-color;
  margin-bottom: 30px;

  &__slide {
    background-color: @bg-color--default;
    width: 100%;
    border-radius: @border-radius;
    box-shadow: @box-shadow;
    background-color: #eee;
    background-image: linear-gradient(-120deg, #8e9eab, #eef2f3);
  }

  &__slide-inner {

    &::after {
      content: '';
      display: table;
      clear: both;
    }
  }

  &__slide-info {
    width: 100%;
    padding: 0 1rem 2rem;

    @media (min-width: @screen-md) {
      width: 60%;
      float: left;
      padding: 2rem;
    }

    @media (min-width: @screen-lg) {
      padding: 2rem 3rem;
    }
  }

  &__slide-info-title {
    margin: 0;
    margin-bottom: 1rem;

    @media (min-width: @screen-lg) {
      margin-top: 1rem;
    }
  }

  &__slide-cover {
    width: 100%;
    padding: 1rem 1rem 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: 50% 50%;
    }

    @media (min-width: @screen-md) {
      width: 40%;
      float: right;
      padding: 2rem 1rem;
    }

    @media (min-width: @screen-lg) {
      padding: 2rem 3rem;
    }
  }
}