mixin promo-slider()

  .s-promo-slider
    +owl-carousel('promo-slider')
      .s-promo-slider__slide
        .s-promo-slider__slide-inner
          .s-promo-slider__slide-cover
            img(src='img/promo-slider-img-example.png', alt='')
          .s-promo-slider__slide-info
            h4.s-promo-slider__slide-info-title A powerful scope is only the start
            p Today’s engineering world is dominated by multi-core processors, serial buses, and wireless interfaces. At the heart of the MDO3000 is a tried-and-true Tektronix oscilloscope paired with a base spectrum analyzer and digital voltmeter.
            +btn('Подробнее', 'secondary')(href='/')

      .s-promo-slider__slide
      .s-promo-slider__slide
      .s-promo-slider__slide
      .s-promo-slider__slide