mixin tag-list()

  .s-tag-list
    ul.s-tag-list__list
      li.s-tag-list__item
        button.s-tag-list__btn 2018

      li.s-tag-list__item
        button.s-tag-list__btn 2017

      li.s-tag-list__item
        button.s-tag-list__btn 2016