extends pug/layout.pug

block meta
  - var title = 'Каталог';
  title= title
  meta(name='description', content='')

block header
  +page-header()
  +mobile-nav()

block content
  +page-main-section()
    .row
      .col-xs-12.col-sm-7.col-sm-push-5.col-md-8.col-md-push-4.col-lg-9.col-lg-push-3
        +breadcrumb()
          +breadcrumb-item('Главная', '/index.html')
          +breadcrumb-item(title)
        .row
          .col-xs-12.col-md-4
            h2.s-main-subtitle= title
          .col-xs-12.col-md-8
            +catalog-tabs()
        +catalog()
      .col-xs-12.col-sm-5.col-sm-pull-7.col-md-4.col-md-pull-8.col-lg-3.col-lg-pull-9
        +subscription()
        +news-announcement()
        +special-offers-announcement()

block footer
  +page-footer()