extends pug/layout.pug

block meta
  - var title = 'Главная';
  title= title
  meta(name='description', content='')

block header
  +page-header()
  +mobile-nav()

block content
  +page-main-section()
    .row
      .col-xs-12.col-sm-7.col-sm-push-5.col-md-8.col-md-push-4.col-lg-9.col-lg-push-3
        +promo-slider()
        +promo-category()
      .col-xs-12.col-sm-5.col-sm-pull-7.col-md-4.col-md-pull-8.col-lg-3.col-lg-pull-9
        +news-announcement()
        +subscription()
        +special-offers-announcement()
  +special-offers()
  +about-company()
  +partners()

block footer
  +page-footer()