extends pug/layout.pug

block meta
  - var title = 'Новости';
  title= title
  meta(name='description', content='')

block header
  +page-header()

block content
  +page-main-section()
    .row
      .col-xs-12.col-sm-7.col-sm-push-5.col-md-8.col-md-push-4.col-lg-9.col-lg-push-3
        .row
          .col-xs-12.col-sm-6
            +breadcrumb()
              +breadcrumb-item('Главная', '/index.html')
              +breadcrumb-item(title)
          .col-xs-12.col-sm-6
            +tag-list()
        +news-list()
        +pagination()
          +pagination-item('1', '/1')
          +pagination-item('...')
          +pagination-item('4', '/4')
          +pagination-item('5', '', true)
          +pagination-item('6', '/6')
          +pagination-item('...')
          +pagination-item('99', '/99')
      .col-xs-12.col-sm-5.col-sm-pull-7.col-md-4.col-md-pull-8.col-lg-3.col-lg-pull-9
        +news-announcement()
        +subscription()

block footer
  +page-footer()