extends pug/layout.pug

block meta
  - var title = 'Style Guide';
  title= title
  meta(name='description', content='')

block header

block content
  .container

    h2.s-main-subtitle Заголовок страницы

    pre
      code= '<h2 class="s-main-subtitle">Заголовок страницы</h2>'

    hr

    ul
      li Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки.
      li Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки.
      li Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки.
      li Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки.
      li Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки.
      li Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки.
      li Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки.

    pre
      code= '<ul>'
      code= '  <li>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки.</li>'
      code= '  <li>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки.</li>'
      code= '  <li>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки.</li>'
      code= '  <li>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки.</li>'
      code= '  <li>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки.</li>'
      code= '  <li>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки.</li>'
      code= '  <li>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки.</li>'
      code= '</ul>'

    hr

    +btn('Кнопка главная')
    +btn('Кнопка второстепенная', 'secondary')

    pre
      code= '<button class="s-btn">Кнопка главная</button>'
      code= '<button class="s-btn s-btn--secondary">Кнопка второстепенная</button>'

    hr

    .s-main-table
      table
        tr
          th Имя
          th Фамилия
          th Мыло
          th Статус
          th Политическая ориентация
        tr
          td Иннокентий
          td Иванов
          td Хозяйственное
          td Администратор
          td «ВСЕГДА!»
        tr
          td Васисуалий
          td Римский-Корсаков
          td Душистое
          td Пользователь
          td Нижняя

    pre
      code= '<div class="s-main-table">'
      code= '  <table>'
      code= '    <tr>'
      code= '      <th>Имя</th>'
      code= '      <th>Фамилия</th>'
      code= '      <th>Мыло</th>'
      code= '      <th>Статус</th>'
      code= '      <th>Политическая ориентация</th>'
      code= '    </tr>'
      code= '    <tr>'
      code= '      <td>Иннокентий</td>'
      code= '      <td>Иванов</td>'
      code= '      <td>Хозяйственное</td>'
      code= '      <td>Администратор</td>'
      code= '      <td>«ВСЕГДА!»</td>'
      code= '    </tr>'
      code= '    <tr>'
      code= '      <td>Васисуалий</td>'
      code= '      <td>Римский-Корсаков</td>'
      code= '      <td>Душистое</td>'
      code= '      <td>Пользователь</td>'
      code= '      <td>Нижняя</td>'
      code= '    </tr>'
      code= '  </table>'
      code= '</div>'

    hr

    +form()
      +fieldset('Fieldset 1')
        +field-text({
          title: 'Field Name 1',
          helpText: 'Help Text (if needed)',
          attrs: {
            placeholder: 'Placeholder'
          }
        })
        +field-text({
          title: 'Field Name 2',
          helpText: 'Help Text (if needed)',
          attrs: {
            placeholder: 'Placeholder'
          }
        })
        +field-action()
          +btn('Submit')(type='submit')

      +fieldset('Fieldset 2')
        +field-text({
          title: 'Field Name 3',
          helpText: 'Help Text (if needed)',
          attrs: {
            placeholder: 'Placeholder'
          }
        })
        +field-text({
          title: 'Field Name 4',
          helpText: 'Help Text (if needed)',
          attrs: {
            placeholder: 'Placeholder'
          }
        })
        +field-action()
          +btn('Submit')(type='submit')

    hr

    h1 Заголовок 1
    p Параграфы, расстояние между ними. Ссылка. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки. Грустный предупредила, дал приставка составитель решила подпоясал запятых сих ручеек которой власти до, над жизни возвращайся силуэт что не курсивных.
    h2 Заголовок 2
    p Параграфы, расстояние между ними. Ссылка. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки. Грустный предупредила, дал приставка составитель решила подпоясал запятых сих ручеек которой власти до, над жизни возвращайся силуэт что не курсивных.
    h3 Заголовок 3
    p Параграфы, расстояние между ними. Ссылка. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки. Грустный предупредила, дал приставка составитель решила подпоясал запятых сих ручеек которой власти до, над жизни возвращайся силуэт что не курсивных.
    h4 Заголовок 4
    p Параграфы, расстояние между ними. Ссылка. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки. Грустный предупредила, дал приставка составитель решила подпоясал запятых сих ручеек которой власти до, над жизни возвращайся силуэт что не курсивных.

    pre
      code= '<h1>Заголовок 1</h1>'
      code= '<p>Параграфы, расстояние между ними. Ссылка. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки. Грустный предупредила, дал приставка составитель решила подпоясал запятых сих ручеек которой власти до, над жизни возвращайся силуэт что не курсивных.</p>'
      code= '<h2>Заголовок 2</h2>'
      code= '<p>Параграфы, расстояние между ними. Ссылка. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки. Грустный предупредила, дал приставка составитель решила подпоясал запятых сих ручеек которой власти до, над жизни возвращайся силуэт что не курсивных.</p>'
      code= '<h3>Заголовок 3</h3>'
      code= '<p>Параграфы, расстояние между ними. Ссылка. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки. Грустный предупредила, дал приставка составитель решила подпоясал запятых сих ручеек которой власти до, над жизни возвращайся силуэт что не курсивных.</p>'
      code= '<h4>Заголовок 4</h4>'
      code= '<p>Параграфы, расстояние между ними. Ссылка. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки. Грустный предупредила, дал приставка составитель решила подпоясал запятых сих ручеек которой власти до, над жизни возвращайся силуэт что не курсивных.</p>'


block footer