mixin news-item()

  article.s-news-item.s-section
    header.s-news-item__header
      h1.s-news-item__title Решения для измерения базовых станций 5G
      time(datetime='2018-05-15') 15.05.2018
      hr
    .s-news-item__content
      img(src='https://images.unsplash.com/photo-1464621922360-27f3bf0eca75?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1da640fd13656dc6e05c790366bd7c8b&auto=format&fit=crop&w=1502&q=80', alt='')

      p Компания Keysight Technologies, Inc. объявила о выпуске решения для измерения, анализа и визуализации покрытия базовых станций 5G. Программное обеспечение Nemo Outdoor компании Keysight в сочетании с ручными анализаторами ВЧ и СВЧ диапазонов FieldFox позволяет операторам мобильной связи и производителям сетевого оборудования измерять параметры радиосигналов и зоны покрытия систем 5G. Решение использует аналитические инструменты Nemo Outdoor для визуализации и последующей обработки данных, что позволяет производителям сетевого оборудования и операторам мобильной связи оценивать и проверять модели распространения сигналов базовых станций 5G для определения уровней покрытия систем сотовой связи 5G.

      p Ключевые нововведения:
      ul
        li Объединение ПО Keysight Nemo Outdoor с анализатором FieldFox позволяет тестировать радиопокрытие 5G в полевых условиях на ранних этапах планирования радиосетей
        li Измерение мощности сигналов базовых станций 5G
        li Решение Keysight Nemo Outdoor для тестирования в полевых условиях измеряет параметры радиоинтерфейса в беспроводных сетях
        li Ручной ВЧ-/СВЧ-анализатор Keysight FieldFox с максимальным частотным диапазоном до 50 ГГц

      blockquote.s-big-quote
        | &ldquo;В связи с отсутствием в настоящее время абонентских устройств 5G и очень малым числом решений для выполнения измерений 5G в полевых условиях, операторы мобильной связи сталкиваются с проблемами проверки соответствия моделей распространения, используемых в планировании сетей 5G,  реальным характеристикам по распространению сигналов, – отметил Юха Лауканен (Juha Laukkanen), руководитель отдела продуктов для измерения покрытия и сравнительного тестирования сетей связи компании Keysight. – Решение компании Keysight, объединяющее ПО Nemo Outdoor и анализатор FieldFox, предлагает пользователям уникальный инструмент, обеспечивающий точность моделей планирования 5G. Измерение уровней мощности сигналов базовых станций 5G в полевых условиях позволяет операторам и производителям сетевого оборудования проверять модели распространения сигналов 5G, облегчая развёртывание сетей и в конечном итоге ускоряя выход на рынок&rdquo;.

      p Решение компании Keysight для измерения сигналов 5G представляет собой готовую систему анализа распространения радиоволн миллиметрового диапазона, включающую необходимое программное обеспечение и оборудование с гарантированными точностными характеристиками для сбора, последующей обработки, анализа и визуализации данных, что позволяет получать статистическую информацию и легко обмениваться ею.
      p
        | Дополнительная информация о решении компании Keysight для измерения покрытия базовых станций 5G приведена на
        a(href="www.keysight.com/find/nemooutdoor") странице.
        |  Изображения решения для измерения покрытия базовых станций 5G представлены по
        a(href="www.keysight.com/find/nemooutdoor-images") ссылке.
        |  Видеоролик об измерительном решении Nemo 5G можно найти на
        a(href="youtu.be/ZDbW6VPoOyI") YouTube