.s-news-item {
  padding-top: 2rem;

  @media (min-width: @screen-sm) {
    margin-bottom: 0;
    padding: 3rem;
  }

  &__header,
  &__content {
    max-width: 38rem;
    margin-left: auto;
    margin-right: auto;
  }

  &__header {
    margin-bottom: 2rem;
  }

  &__title {
    font-size: 2rem;
  }

  &__content {

    img {
      margin-bottom: 1rem;
      margin-top: 1rem;
    }

    ul {

      li {
        list-style-type: none;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          width: 7px;
          height: 7px;
          background: currentColor;
          opacity: 0.4;
          border-radius: 50%;
          left: -22px;
          top: 10px;
        }
      }
    }
  }
}