.s-list-of-manufacturers {
  padding-top: 2rem;

  @media (min-width: @screen-sm) {
    padding: 2rem;
    padding-top: 3rem;
  }

  &__title {

    @media (min-width: @screen-sm) {
      margin-bottom: 2rem;
    }
  }

  &__desc {
    max-width: 40rem;
  }

  &__list {
    list-style-type: none;
    padding: 0;

    &::after {
      content: '';
      display: table;
      clear: both;
    }

    @supports (display: flex) {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
  }

  &__item {
    float: left;
    color: @text-color--lighter;
    margin-bottom: 1rem;

    a {
      width: 100%;
      text-align: center;
      color: currentColor;
    }

    svg {
      display: inline-block;
      vertical-align: middle;
      width: 80%;
    }

    @supports (display: flex) {
      display: flex;
      align-items: center;
      flex: 0 0 50%;
    }

    @media (min-width: @screen-sm) {
      margin-bottom: 2rem;

      @supports (display: flex) {
        flex: 0 0 160px;
      }
    }
  }
}