mixin search-form()

  form.s-search-form
    input(type='search', placeholder='Type something')
    button(type='submit', value='Найти')
      svg(width='20' height='20'): use(xlink:href='#search-icon')
    //- .s-search-form__results
      +search-result()
      +search-result()
      +search-result()