.s-search-form {
  width: 100%;
  position: relative;
  height: 2.25rem;

  [type='search'] {
    width: 100%;
    height: 100%;
    border: 0;
    background-color: @bg-color--muted;
    color: @text-color;
    font-size: 0.875rem;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 5rem;
    border-radius: @border-radius;

    &::placeholder {
      color: @text-color--lighter;
    }
  }

  [type='submit'] {
    position: absolute;
    width: 4rem;
    top: 0;
    right: 0;
    height: 100%;
    border: 0;
    font-size: @font-size--small;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.025em;
    padding: 0.5rem;
    border-top-right-radius: @border-radius;
    border-bottom-right-radius: @border-radius;
    cursor: pointer;

    svg {
      fill: @text-color;
      transition: all 100ms ease-in-out 0s;
    }

    &:hover {

      svg {
        fill: @accent-color-main;
        transform: scale(1.1);
      }
    }
  }

  &__results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 400px;
    background-color: @bg-color--default;
    z-index: 999;
  }
}