.s-special-offers {
  background-color: @bg-color--default;
  border-top: 1px solid @border-color;

  &__nav {
    border-bottom: 1px solid @border-color;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
  }

  &__nav-list {
    display: inline-block;
    list-style-type: none;
    vertical-align: middle;
    position: relative;
    color: @accent-color-main;
    font-weight: 700;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    margin-bottom: 0;
    padding: 0;
  }

  &__nav-item {
    display: inline-block;
    float: left;
    position: relative;
    margin-bottom: 0;

    &:first-child {

      &::after {
        position: absolute;
        content: '';
        background-color: currentColor;
        height: 1px;
        bottom: -17px;
        transition: 250ms cubic-bezier(.74,.13,.3,.95);
        left: 0;
        width: 130px;
        transform: translate3d(130px,0,0);
      }

      &.active {

        &::after {
          transform: translate3d(0,0,0);
        }
      }
    }
  }

  &__nav-link {
    position: relative;
    color: currentColor;
    display: inline-block;
    width: 130px;
    padding: 0.5rem;
  }

  &__content {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  &__content-wrap {
    margin-left: auto;
    margin-right: auto;

    @media (min-width: @screen-sm) {
      max-width: 650px;
      padding-left: 15px;
      padding-right: 15px;
    }

    @media (min-width: @screen-md) {
      max-width: 870px;
    }
  }

  .owl-item {

    @media (max-width: (@screen-sm - 1)) {
      border: 1px solid @border-color;
    }

    &.active {

      @media (max-width: (@screen-sm - 1)) {
        box-shadow: @box-shadow;
        margin-bottom: 1.5rem;
      }
    }
  }

  .owl-nav [class*='owl-'] {
    margin: 0;

    &:hover {
      background: none;
    }
  }

  .owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-29px);
    margin: 0;
    background: transparent;
    padding: 0;
  }

  .owl-theme .owl-nav [class*='owl-']:hover {
    background: none;
  }

  .owl-prev, .owl-next {
    position: absolute;
    top: 0;
    bottom: 0;
    display: inline-block;
    margin: 0;
    height: 70px;

    svg {
      padding: 5px;
      vertical-align: middle;

      polyline {
        transition-property: all;
        transition-duration: .3s;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }

    &:hover,
    &:focus {

      svg polyline {
        stroke-width: 3;
      }
    }

    &:active {

      svg polyline {
        stroke-width: 6;
        transition-property: all;
        transition-duration: .15s;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }
  }

  .owl-prev {
    left: -65px;

    @media (min-width: @screen-lg) {
      left: -64px;
    }

    @media (min-width: (@screen-lg + 100)) {
      left: -80px;
    }
  }

  .owl-next {
    right: -65px;

    @media (min-width: @screen-lg) {
      right: -64px
    }

    @media (min-width: (@screen-lg + 100)) {
      right: -80px;
    }

    svg {
      transform: rotate3D(0, 1, 0, 180deg);
    }
  }
}