mixin special-offers()

  .s-special-offers
    .s-special-offers__inner
      .s-special-offers__nav
        ul.s-special-offers__nav-list(role='tablist')
          li.s-special-offers__nav-item.active(role='presentation')
            a.s-special-offers__nav-link(
              href='#new-products',
              aria-controls='new-products',
              role='tab',
              data-toggle='tab'
            ) Новинки
          li.s-special-offers__nav-item(role='presentation')
            a.s-special-offers__nav-link(
              href='#sale-products',
              aria-controls='sale-products',
              role='tab',
              data-toggle='tab'
            ) Акции
      .s-special-offers__content
        .s-special-offers__content-wrap
          .tab-content
            #new-products.tab-pane.active(role='tabpanel')
              +owl-carousel('new-products-slider')
                .s-special-offers__slide
                  +product-card('promo', 'img/promo-slider-img-example.png')
                .s-special-offers__slide
                  +product-card('promo', 'img/promo-slider-img-example.png')
                .s-special-offers__slide
                  +product-card('promo', 'img/promo-slider-img-example.png')
                .s-special-offers__slide
                  +product-card('promo', 'img/promo-slider-img-example.png')
                .s-special-offers__slide
                  +product-card('promo', 'img/promo-slider-img-example.png')
            #sale-products.tab-pane(role='tabpanel')
              +owl-carousel('sale-products-slider')
                .s-special-offers__slide
                  +product-card('promo', 'img/promo-slider-img-example.png')
                .s-special-offers__slide
                  +product-card('promo', 'img/promo-slider-img-example.png')
                .s-special-offers__slide
                  +product-card('promo', 'img/promo-slider-img-example.png')
                .s-special-offers__slide
                  +product-card('promo', 'img/promo-slider-img-example.png')
                .s-special-offers__slide
                  +product-card('promo', 'img/promo-slider-img-example.png')
