mixin field-checkbox(checkboxes, title)

  //- Param:
    checkboxes {array}
      {object}
        title: ''         {string} - текст рядом с чекбоксом
        helpText: ''      {string} - пояснение под полем
        mods: ''          {string} - модификаторы обертки чекбокса
        attrs:            {object} - любые атрибуты для input
          name:           {string}
          ...

  //- Use:
        +field-checkbox([
          {
            title: 'Чекбокс0',
            helpText: 'Подсказка',
            attrs: {
              name: 'check0',
            }
          },
        ])
        +field-checkbox([
          {
            title: 'Чекбокс1',
            helpText: 'Подсказка',
            mods: 'error',
            attrs: {
              name: 'check1',
              checked: true,
            }
          },
          {
            title: 'Чекбокс2',
            helpText: 'Подсказка',
            mods: 'error',
            attrs: {
              name: 'check2',
            }
          },
        ], 'ОбщееНазваниеБлока')

  .s-field-checkbox&attributes(attributes)
    if(typeof(title) !== 'undefined' && title)
      .s-field-checkbox__title!= title

    each checkbox in checkboxes
      -
        var allMods = '';
        if(typeof(checkbox.mods) !== 'undefined' && checkbox.mods) {
          var modsList = checkbox.mods.split(',');
          for (var i = 0; i < modsList.length; i++) {
            allMods = allMods + ' s-field-checkbox__input-wrap--' + modsList[i].trim();
          }
        }

      .s-field-checkbox__input-wrap(class=allMods)
        label.s-field-checkbox__name
          input.s-field-checkbox__input(type='checkbox')&attributes(checkbox.attrs)
          span.s-field-checkbox__name-text!= checkbox.title
        if(typeof(checkbox.helpText) !== 'undefined' && checkbox.helpText)
          .s-field-checkbox__help-text-wrap
            .fs-ield-checkbox__help-text!= checkbox.helpText
