.s-news-announcement {
  max-width: 400px;

  &__header {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    &::after {
      display: table;
      content: '';
      clear: both;
    }

    a {
      display: inline-block;
      float: right;
      font-size: 0.875rem;
      color: @text-color;
      float: right;
      line-height: 1.3em;
      opacity: 0.5;
    }
  }

  &__title {
    font-size: 0.875rem;
    color: @accent-color-main;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
    position: relative;
    padding-left: 1.75rem;
    display: inline-block;
    line-height: 1.3em;
    float: left;

    &::before {
      position: absolute;
      content: '';
      left: 0;
      top: -2px;
      background-image: data-uri('image/svg+xml;charset=UTF-8', '../blocks/news-announcement/img/news-announcement-title-icon.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      width: 18px;
      height: 17px;
    }
  }

  &__list {
    list-style-type: none;
    font-weight: 400;
    margin-bottom: 0;
    padding: 0;

    li {
      margin-bottom: 0;

      &:not(:last-child) {
        border-bottom: 1px solid @border-color;
      }
    }
  }

  &__item {
    padding-top: 1rem;
    padding-bottom: 1rem;

    time {
      font-size: @font-size--small;
      opacity: 0.5;
      margin-bottom: 0.5rem;
      font-weight: 500;
    }
  }

  &__item-title {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.4rem;
  }

  &__nav {
    position: relative;
    padding-top: 1rem;

    &::after {
      display: table;
      content: '';
      clear: both;
    }

    &::before {
      position: absolute;
      content: '';
      background-color: white;
      z-index: 10;
      width: 1px;
      top: 0;
      left: 50%;
      height: 100%;
    }

    button {
      text-align: center;
      float: left;
      width: 50%;
      height: 36px;
      background-color: @bg-color--muted;
      border-radius: 0;
      opacity: 0.5;
      transition: opacity 0.25s ease-in-out 0s;
      cursor: pointer;

      svg {
        padding: 5px;
        vertical-align: middle;

        polyline {
          transition-property: all;
          transition-duration: .3s;
          transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          stroke-width: 5;
        }
      }

      &:hover,
      &:focus {
        background-color: @bg-color--muted;
        opacity: 0.75;

        svg polyline {
          stroke-width: 7;
        }
      }

      &:active {

        svg polyline {
          stroke-width: 9;
          transition-property: all;
          transition-duration: .15s;
          transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        }
      }

      &:last-child {
        transform: rotate3D(0, 1, 0, 180deg);
      }
    }
  }
}