mixin news-announcement()

  article.s-news-announcement.s-section
    header.s-news-announcement__header
      h4.s-news-announcement__title Новости
      a(href='/news-list.html') Все новости
    .s-news-announcement__content
      ul.s-news-announcement__list
        li
          article.s-news-announcement__item
            time(datetime='2018-05-15') 15.05.2018
            h5.s-news-announcement__item-title Мультиметры APPA серии 200 и 500 внесены в Государственный реестр средств измерения РФ
        li
          article.s-news-announcement__item
            time(datetime='2018-05-15') 15.05.2018
            h5.s-news-announcement__item-title Мультиметры APPA серии 200 и 500 внесены в Государственный реестр средств измерения РФ
        li
          article.s-news-announcement__item
            time(datetime='2018-05-15') 15.05.2018
            h5.s-news-announcement__item-title Мультиметры APPA серии 200 и 500 внесены в Государственный реестр средств измерения РФ
    footer.s-news-announcement__footer
      .s-news-announcement__nav
        button(type='button')
          svg(width='20px', height='36px', viewbox='0 0 50 80', xml:space='preserve')
            polyline(fill='none', stroke='#525f7f', stroke-width='1', stroke-linecap='round', stroke-linejoin='round', points='35.63,75.8 0.375,38.087 35.63,0.375 ')

        button(type='button')
          svg(width='20px', height='36px', viewbox='0 0 50 80', xml:space='preserve')
            polyline(fill='none', stroke='#525f7f', stroke-width='1', stroke-linecap='round', stroke-linejoin='round', points='35.63,75.8 0.375,38.087 35.63,0.375 ')

