@hamburger-width:        30px;
@hamburger-height:       30px;

.s-hamburger {
  display: inline-block;
  width: @hamburger-width;
  height: @hamburger-height;
  position: relative;
  cursor: pointer;
  padding: 0;
  vertical-align: middle;

  &::before {
    position: absolute;
    content: '';
    top: -0.5rem;
    right: -0.5rem;
    bottom: -0.5rem;
    left: -0.5rem;
  }

  > span {
    width: 100%;
    height: 2px;
    border-radius: @border-radius;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: @text-color--lighter;

    &::before,
    &::after {
      position: absolute;
      content: '';
      background-color: inherit;
      height: 2px;
      border-radius: @border-radius;
      display: block;
      right: 0;
    }

    &::before {
      width: 80%;
      top: -0.45rem;
    }

    &::after {
      width: 60%;
      top: 0.45rem;
    }
  }
}